<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<main id="main">
    <div class="title">
        <div class="inner">
            <div class="inner_row">
                <h2>contact us</h2>
                <p>마인드올이 IT 전문기술 제공 및 컨설팅을 지원합니다.</p>
            </div>
        </div>
    </div>
    <div id="checkpoint"></div>
    <section id="banner">
        <div class="inner">
            <div class="inner_row">
                <div class="banner">
                    <p>제품기술 및 견적과 관련하여 문의/상담이 필요하시면 주저하지말고 문의해주세요.</p>
                    <div class="help">
                        <ul>
                            <li>
                                <em class="icon">
                                    <img src="img/contact_email.png" alt="이메일 상담" />
                                </em>
                                <span class="tit">이메일 상담</span>
                                <span class="desc">support@mindall.co.kr</span>
                            </li>
                            <li>
                                <em class="icon">
                                    <img src="img/contact_phone.png" alt="전화 상담" />
                                </em>
                                <span class="tit">전화 상담</span>
                                <span class="desc">070-4895-2988</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="#">서비스</a>
                    <ul>
                        <li>
                            <a href="#">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="#">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="#">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">솔루션</a>
                    <ul>
                        <li>
                            <a href="#">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="#">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li>
                            <a href="#">소개</a>
                        </li>
                        <li>
                            <a href="#">연혁</a>
                        </li>
                        <li>
                            <a href="#">사업분야</a>
                        </li>
                        <li>
                            <a href="#">보유기술</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="swiper.min.js"></script>
<script src="script.js"></script>
</body>
</html>