<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>Mindall</title>
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link data-brackets-id='94' rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/contact.css" />
</head>
<body>
    
    <header id="header">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="img/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<!-- //header -->
    
    <main id="main">
        <div class="title">
            <div class="inner">
                <div class="inner_row">
                    <h2>contact us</h2>
                    <p>마인드올이 IT 전문기술 제공 및 컨설팅을 지원합니다.</p>
                </div>
            </div>
        </div>
        <section id="banner">
            <div class="inner">
                <div class="inner_row">
                    <div class="banner">
                        <p>제품기술 및 견적과 관련하여 문의/상담이 필요하시면 주저하지말고 문의해주세요.</p>
                        <div class="help">
                            <ul>
                                <li>
                                    <em class="icon">
                                        <img src="img/contact_email.png" alt="이메일 상담" />
                                    </em>
                                    <span class="tit">이메일 상담</span>
                                    <span class="desc">support@mindall.co.kr</span>
                                </li>
                                <li>
                                    <em class="icon">
                                        <img src="img/contact_phone.png" alt="전화 상담" />
                                    </em>
                                    <span class="tit">전화 상담</span>
                                    <span class="desc">070-4895-2988</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //banner -->
    </main>
<!-- //main -->
    <footer data-brackets-id='376' id="footer">
        <div data-brackets-id='377' class="container">
            <div data-brackets-id='378' id="footer-sitemap">
                <ul data-brackets-id='379'>
                    <li data-brackets-id='380'>
                        <a data-brackets-id='381' href="#">서비스</a>
                        <ul data-brackets-id='382'>
                            <li data-brackets-id='383'>
                                <a data-brackets-id='384' href="#">Web/App 서비스</a>
                            </li>
                            <li data-brackets-id='385'>
                                <a data-brackets-id='386' href="#">위치 기반 서비스</a>
                            </li>
                            <li data-brackets-id='387'>
                                <a data-brackets-id='388' href="#">IT 컨설팅</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='389'>
                        <a data-brackets-id='390' href="#">솔루션</a>
                        <ul data-brackets-id='391'>
                            <li data-brackets-id='392'>
                                <a data-brackets-id='393' href="#">인공지능 솔루션</a>
                            </li>
                            <li data-brackets-id='394'>
                                <a data-brackets-id='395' href="#">교통 솔루션</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='396'>
                        <a data-brackets-id='397' href="#">포트폴리오</a>
                    </li>
                    <li data-brackets-id='398'>
                        <a data-brackets-id='399' href="#">문의하기</a>
                    </li>
                    <li data-brackets-id='400'>
                        <a data-brackets-id='401' href="#">회사소개</a>
                        <ul data-brackets-id='402'>
                            <li data-brackets-id='403'>
                                <a data-brackets-id='404' href="#">소개</a>
                            </li>
                            <li data-brackets-id='405'>
                                <a data-brackets-id='406' href="#">연혁</a>
                            </li>
                            <li data-brackets-id='407'>
                                <a data-brackets-id='408' href="#">사업분야</a>
                            </li>
                            <li data-brackets-id='409'>
                                <a data-brackets-id='410' href="#">보유기술</a>
                            </li>
                            <li data-brackets-id='411'>
                                <a data-brackets-id='412' href="#">오시는길</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div data-brackets-id='413' id="footer-brand">
                <div data-brackets-id='414' id="footer-brand-logo">
                    <img data-brackets-id='415' src="img/logo.png" alt="MindAll Company Logo Inverted" style="width: auto;">
                </div>
                <div data-brackets-id='416' id="footer-brand-address">
                    <p data-brackets-id='417'>(주)마인드올 | 대표 : 유정규</p>
                    <p data-brackets-id='418'>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                    <p data-brackets-id='419'>사업자등록번호 : 704-81-00061</p>
                    <p data-brackets-id='420'>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
                </div>
            </div>
        </div>
    </footer>
<!-- //footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>