<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>Mindall</title>
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link data-brackets-id='94' rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/service_IT.css" />
</head>
<body>
    
    <header id="header">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="img/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<!-- header -->
    
    <main id="main">
        <section id="banner">
            <h2 class="ir_so">IT컨설팅 서비스</h2>
            <div class="inner">
                <div class="inner_row">
                    <div class="banner_textBox">
                        <h2 class="banner_title">service</h2>
                        <p class="banner_text">고객의 Needs 및 환경에 맞는 최적의 진단, 설계, 개발을 통해 최상의 서비스를 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- // banner -->
        <div class="service_btn">
            <div class="inner">
                <div class="inner_row">
                    <div>
                        <ul>
                            <li class="lines"><a href="#"><span>Web/App 서비스</span></a></li>
                            <li class="lines"><a href="#"><span>위치기반 서비스</span></a></li>
                            <li class="active"><a href="#"><span>IT 컨설팅</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // service_btn -->
        <section id="contents">
            <h2 class="ir_so">IT 서비스 컨텐츠</h2>
            <div class="title">
                <div class="inner">
                    <div class="inner_row">
                        <div class="it_title">
                            <h2>IT 컨설팅</h2>
                            <p>다양한 분야의 경험을 기반으로 고객의 성공적인 비즈니스를 위해 정확한 Needs를 도출하고 차별화된 가치를 창출하는 전문적인 컨설팅 서비스를 제공합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // title -->
            <div class="consulting">
                <div class="inner">
                    <div class="inner_row">
                        <div class="consulting_box">
                            <ul>
                                <li class="cb1">
                                    <span class="two_lines">정보화 전략 컨설팅<br />(ISP)</span>
                                </li>
                                <li class="cb2">
                                    <span>솔루션 기반 컨설팅</span>
                                </li>
                                <li class="cb3">
                                    <span>IT 아키텍처 컨설팅</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // consulting -->
            <div class="it_text">
                <div class="inner">
                    <div class="inner_row">
                        <p>마인드올은 전문 컨설턴트를 통해 고객사의 비즈니스 전략과 연계된 IT 전략을 제시하고 고객사의 IT 수준 진단, 거버넌스 모델 정립 및 방향성 개선을 통하여 정확한 의사결정을 지원합니다.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
<!-- main -->
    <footer data-brackets-id='376' id="footer">
        <div data-brackets-id='377' class="container">
            <div data-brackets-id='378' id="footer-sitemap">
                <ul data-brackets-id='379'>
                    <li data-brackets-id='380'>
                        <a data-brackets-id='381' href="#">서비스</a>
                        <ul data-brackets-id='382'>
                            <li data-brackets-id='383'>
                                <a data-brackets-id='384' href="#">Web/App 서비스</a>
                            </li>
                            <li data-brackets-id='385'>
                                <a data-brackets-id='386' href="#">위치 기반 서비스</a>
                            </li>
                            <li data-brackets-id='387'>
                                <a data-brackets-id='388' href="#">IT 컨설팅</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='389'>
                        <a data-brackets-id='390' href="#">솔루션</a>
                        <ul data-brackets-id='391'>
                            <li data-brackets-id='392'>
                                <a data-brackets-id='393' href="#">인공지능 솔루션</a>
                            </li>
                            <li data-brackets-id='394'>
                                <a data-brackets-id='395' href="#">교통 솔루션</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='396'>
                        <a data-brackets-id='397' href="#">포트폴리오</a>
                    </li>
                    <li data-brackets-id='398'>
                        <a data-brackets-id='399' href="#">문의하기</a>
                    </li>
                    <li data-brackets-id='400'>
                        <a data-brackets-id='401' href="#">회사소개</a>
                        <ul data-brackets-id='402'>
                            <li data-brackets-id='403'>
                                <a data-brackets-id='404' href="#">소개</a>
                            </li>
                            <li data-brackets-id='405'>
                                <a data-brackets-id='406' href="#">연혁</a>
                            </li>
                            <li data-brackets-id='407'>
                                <a data-brackets-id='408' href="#">사업분야</a>
                            </li>
                            <li data-brackets-id='409'>
                                <a data-brackets-id='410' href="#">보유기술</a>
                            </li>
                            <li data-brackets-id='411'>
                                <a data-brackets-id='412' href="#">오시는길</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div data-brackets-id='413' id="footer-brand">
                <div data-brackets-id='414' id="footer-brand-logo">
                    <img data-brackets-id='415' src="img/logo.png" alt="MindAll Company Logo Inverted" style="width: auto;">
                </div>
                <div data-brackets-id='416' id="footer-brand-address">
                    <p data-brackets-id='417'>(주)마인드올 | 대표 : 유정규</p>
                    <p data-brackets-id='418'>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                    <p data-brackets-id='419'>사업자등록번호 : 704-81-00061</p>
                    <p data-brackets-id='420'>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
                </div>
            </div>
        </div>
    </footer>
<!-- //footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>