<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>Mindall</title>
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link data-brackets-id='94' rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/solution_Mindway.css" />
    <link rel="stylesheet" href="css/swiper.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
</head>
<body>
    
    <header id="header">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="img/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<!-- header -->
    
    <main id="main">
        <section id="banner">
            <h2 class="ir_so">교통 솔루션</h2>
            <div class="inner">
                <div class="inner_row">
                    <div class="banner_textBox">
                        <h2 class="banner_title">solution</h2>
                        <p class="banner_text">고객 경험과 운영효율 극대화를 지원하기 위한 최신기술 기반의 차별화된 자체 솔루션을 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- // banner -->
        
        <div class="solution_btn">
            <div class="inner">
                <div class="inner_row">
                    <div>
                        <ul>
                            <li class="lines"><a href="#"><span>인공지능 솔루션</span></a></li>
                            <li class="active"><a href="#"><span>교통 솔루션</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // service_btn -->
        
        <section id="contents">
            <h2 class="ir_so">교통 솔루션</h2>
            <div class="title">
                <div class="inner">
                    <div class="inner_row">
                        <div class="solution_title">
                            <h2>교통 솔루션</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // title -->
            
            <section id="mindway_banner">
                <div class="inner">
                    <div class="inner_row">
                        <div class="mindway_banner">
                            <h2>Mind Way</h2>
                            <strong>글로벌 웹기반 노선도 개발 플랫폼</strong>
                            <p>기존 개발 환경의 시간적·경제적 비효율적인 측면을 개선하여</p>
                            <p>이미지 작업, 좌표 맵핑, 기능 개발 작업을 한번에 처리할 수 있는 새로운 개발환경을 제시하고</p>
                            <p>노선도 제작에 필요한 다양한 정보를 API형태로 제공하여 노선도를 한번에 보다 쉽게 개발할 수 있는 플랫폼</p>
                            <p class="tm_visible">
                                기존 개발 환경의 시간적·경제적 비효율적인 측면을 개선하여 이미지 작업, 좌표 맵핑, 기능 개발 작업을 한번에 처리할 수 있는 새로운 개발환경을 제시하고 노선도 제작에 필요한 다양한 정보를 API형태로 제공하여 노선도를 한번에 보다 쉽게 개발할 수 있는 플랫폼
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // mindway_banner -->
            
            <section id="smart">
                <div class="inner">
                    <div class="inner_row">
                        <div class="smart">
                            <div class="smart_left">
                                <h3>스마트한 노선도 관리 플랫폼</h3>
                                <p>데이터 입력시 자동 생성되는 데이터 관리 영역</p>
                                <p>노선도 Import/Export 기능 제공하여 편리한 수정</p>
                                <p>기본 다국어(영어,중국어,일어)노선도 지원</p>
                            </div>
                            <div class="smart_right">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- slides -->
                                        <div class="swiper-slide ss1"></div>
                                        <div class="swiper-slide ss2"></div>
                                        <div class="swiper-slide ss3"></div>
                                    </div>
                                </div>
                                <div class="swiper-pagination indicator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // smart -->
            
            <section id="specification">
                <div class="inner">
                    <div class="inner_row">
                        <h2 class="ir_so">특징</h2>
                        <div class="specification">
                            <div class="sub_title">
                                <h3>특징</h3>
                            </div>
                            <ul>
                                <li>
                                    <p>클라우드 기반의 서비스 제공으로 언제 어디서든 작업 가능</p>
                                </li>
                                <li>
                                    <p>분할되어있던 작업환경 한곳으로 통합! 비용과 시간 절감 효과</p>
                                </li>
                                <li>
                                    <p>전세계 교통 정보 API 제공으로 서비스 확대 가능</p>
                                </li>
                                <li>
                                    <p>교통정보 기반의 빅데이터 분석을 통한 유의미한 지표 제공</p>
                                </li>
                                <li>
                                    <p>플랫폼 활용 가능 산업의 발전 유도 및 새로운 가치창출 기회 제공</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // specification -->
        </section>
    </main>
<!-- main -->
    <footer data-brackets-id='376' id="footer">
        <div data-brackets-id='377' class="container">
            <div data-brackets-id='378' id="footer-sitemap">
                <ul data-brackets-id='379'>
                    <li data-brackets-id='380'>
                        <a data-brackets-id='381' href="#">서비스</a>
                        <ul data-brackets-id='382'>
                            <li data-brackets-id='383'>
                                <a data-brackets-id='384' href="#">Web/App 서비스</a>
                            </li>
                            <li data-brackets-id='385'>
                                <a data-brackets-id='386' href="#">위치 기반 서비스</a>
                            </li>
                            <li data-brackets-id='387'>
                                <a data-brackets-id='388' href="#">IT 컨설팅</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='389'>
                        <a data-brackets-id='390' href="#">솔루션</a>
                        <ul data-brackets-id='391'>
                            <li data-brackets-id='392'>
                                <a data-brackets-id='393' href="#">인공지능 솔루션</a>
                            </li>
                            <li data-brackets-id='394'>
                                <a data-brackets-id='395' href="#">교통 솔루션</a>
                            </li>
                        </ul>
                    </li>
                    <li data-brackets-id='396'>
                        <a data-brackets-id='397' href="#">포트폴리오</a>
                    </li>
                    <li data-brackets-id='398'>
                        <a data-brackets-id='399' href="#">문의하기</a>
                    </li>
                    <li data-brackets-id='400'>
                        <a data-brackets-id='401' href="#">회사소개</a>
                        <ul data-brackets-id='402'>
                            <li data-brackets-id='403'>
                                <a data-brackets-id='404' href="#">소개</a>
                            </li>
                            <li data-brackets-id='405'>
                                <a data-brackets-id='406' href="#">연혁</a>
                            </li>
                            <li data-brackets-id='407'>
                                <a data-brackets-id='408' href="#">사업분야</a>
                            </li>
                            <li data-brackets-id='409'>
                                <a data-brackets-id='410' href="#">보유기술</a>
                            </li>
                            <li data-brackets-id='411'>
                                <a data-brackets-id='412' href="#">오시는길</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div data-brackets-id='413' id="footer-brand">
                <div data-brackets-id='414' id="footer-brand-logo">
                    <img data-brackets-id='415' src="img/logo.png" alt="MindAll Company Logo Inverted" style="width: auto;">
                </div>
                <div data-brackets-id='416' id="footer-brand-address">
                    <p data-brackets-id='417'>(주)마인드올 | 대표 : 유정규</p>
                    <p data-brackets-id='418'>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                    <p data-brackets-id='419'>사업자등록번호 : 704-81-00061</p>
                    <p data-brackets-id='420'>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
                </div>
            </div>
        </div>
    </footer>
<!-- //footer -->
    
    
    <!-- 자바스크립트 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                767: {
                    slidesPerView: 1.2,
                    spaceBetween: 24
                },
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            loop: false,
        })
    </script>
</body>
</html>