// Superbar
@mixin superbar($length) {
    display: inline-block;
    color: #333;
    transform: scaleX($length) scaleY(1.5) translateX(36%);
}
span.superbar {
    @include superbar(8);
}

// Header - About
#header-about {
    background-image: url("images/about_background.jpg");
    background-size: cover;
    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            font-weight: bolder;
            color: white;
            margin-bottom: 30px;
        }
        p {
            text-align: center;
            font-size: 1.8rem;
            color: white;
        }
    }
}

// LNB (Local Navigation Bar)
nav#lnb {
    padding: 10px 0;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0;
        li {
            display: inline-block;
            width: 50%;
            text-align: center;
            height: 25px;
            a {
                display: inline-block;
                width: 50%;
                line-height: 25px;
                font-size: 1.2rem;
                padding-bottom: 5px;
                transition: all .3s;
                border-bottom: 3px solid transparent;
                &:hover {
                    color: inherit;
                }
            }
            &:not(:last-child) {
                border-right: 1px solid #333;
            }
            &.active {
                a {
                    color: #3CDBED;
                    border-bottom: 3px solid #3CDBED;
                }
            }
        }
    }
}

// Introduction
#introduction {
    padding-top: 100px;
    #introduction-header {
        margin-bottom: 80px;
        .container {
            h2 {
                font-weight: bolder;
                margin-bottom: 30px;
            }
            h3 {
                font-weight: bolder;
                margin-bottom: 20px;
            }
            p:first-of-type {
                font-size: 1.1rem;
            }
            p {
                margin-bottom: 5px;
            }
        }
    }
    #introduction-subheader {
        background-image: url("./images/introduction_background.jpg");
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        .container {
            position: relative;
            height: 400px;
            #subheader-box {
                background-image: url("./images/jumbotron.png");
                background-size: cover;
                position: absolute;
                right: 0;
                bottom: 30px;
                width: 50%;
                height: 400px;
                box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
                padding: 50px;
                p.since {
                    font-weight: lighter;
                    color: white;
                    margin-bottom: 30px;
                }
                p.title {
                    font-weight: bolder;
                    font-size: 2rem;
                    color: white;
                    margin-bottom: 10px;
                }
                p.subtitle {
                    font-weight: bolder;
                    font-size: 1.2rem;
                    color: white;
                    margin-bottom: 30px;
                }
                p.content {
                    color: white;
                }
            }
        }
    }
}

// Core values
#values {
    padding-top: 100px;
    background-color: #F8F8F8;
    #values-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #values-content {
        .value-alpha {
            margin-bottom: 10px;
            .container {
                display: flex;
                flex-direction: row;
                .value-image {
                    display: inline-block;
                    vertical-align: middle;
                    width: 47.5%;
                    margin-right: 2.5%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .value-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;
                    vertical-align: middle;
                    width: 50%;
                    text-align: center;
                    img {
                        margin-bottom: 30px;
                    }
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 10px;
                    }
                    p.description {
                        color: gray;
                    }
                }
            }
        }
        .value-beta {
            margin-bottom: 10px;
            .container {
                display: flex;
                flex-direction: row;
                .value-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;
                    vertical-align: middle;
                    width: 47.5%;
                    margin-right: 2.5%;
                    text-align: center;
                    img {
                        margin-bottom: 30px;
                    }
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 10px;
                    }
                    p.description {
                        color: gray;
                    }
                }
                .value-image {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

// Techstacks
#stacks {
    padding: 100px 0 50px 0;
    #stacks-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #stacks-content {
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .stack {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 33.33%;
                padding: 30px;
                .stack-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;
                    text-align: center;
                    background-color: #3CDBED;
                    border-radius: 50%;
                    margin-bottom: 30px;
                    img {
                        width: 50%;
                        height: auto;
                    }
                }
                .stack-content {
                    text-align: center;
                    p.title {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }
                    p.subtitle {
                        color: #555;
                        font-size: 1.1rem;
                    }
                    p.description {
                        color: #777;
                    }
                }
            }
        }
    }
}

// Certificates
#certification {
    background-color: #F8F8F8;
    padding: 100px 0 50px 0;
    #certification-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #certification-content {
        .container {
            .certificate {
                display: inline-block;
                vertical-align: middle;
                width: 33.33%;
                padding: 30px;
                .certificate-image {
                    margin-bottom: 30px;
                    img {
                        width: 100%;
                        height: auto;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
                    }
                }
                .certificate-content {
                    p {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    #stacks {
        #stacks-header {
            .container {
                margin-bottom: 0;
                max-width: 70vw;
            }
        }
        #stacks-content {
            .container {
                .stack {
                    width: 50%;
                    position: relative;
                    height: 550px;
                    .stack-image {
                        margin-bottom: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .stack-content {
                        position: absolute;
                        padding: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        top: 410px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    nav#lnb {
        .container {
            ul {
                li {
                    a {
                        width: 80%;
                    }
                }
            }
        }
    }
    #stacks {
        #stacks-content {
            .container {
                .stack {
                    .stack-content {
                        bottom: -85px;
                        p.description {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #introduction {
        #introduction-subheader {
            .container {
                #subheader-box {
                    width: 100%;
                }
            }
        }
    }
    #values {
        #values-content {
            .value-alpha {
                .container {
                    flex-direction: column;
                    .value-image {
                        width: 100%;
                        margin-right: 0;
                    }
                    .value-content {
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
            .value-beta {
                .container {
                    flex-direction: column-reverse;
                    .value-image {
                        width: 100%;
                        margin-right: 0;
                    }
                    .value-content {
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    #header-about {
        .container {
            padding-top: 100px;
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    nav#lnb {
        .container {
            ul {
                li {
                    height: 20px;
                    a {
                        position: relative;
                        top: -5px;
                        width: 90%;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
    #introduction {
        #introduction-subheader {
            .container {
                #subheader-box {
                    width: 100%;
                    padding: 30px;
                }
            }
        }
    }
    #stacks {
        #stacks-content {
            .container {
                max-width: 85vw;
                .stack {
                    height: 400px;
                    .stack-image {
                        width: 200px;
                        height: 200px;
                    }
                    .stack-content {
                        top: 285px;
                    }
                }
            }
        }
    }
    #header-about {
        .container {
            p {
                display: none;
            }
        }
    }
    #certification {
        #certification-content {
            .container {
                .certificate {
                    display: block;
                    width: 100%;
                    padding: 0;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    nav#lnb {
        .container {
            ul {
                li {
                    a {
                        width: 90%;
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    #introduction {
        #introduction-header {
            margin-bottom: 100px;
            .container {
                width: 90%;
                margin: auto;
            }
        }
        #introduction-subheader {
            .container {
                #subheader-box {
                    width: 85%;
                    left: 7.5%;
                    bottom: -75px;
                    z-index: 1;
                    padding: 30px;
                    height: 550px;
                }
            }
        }
    }
    #stacks {
        #stacks-header {
            .container {
                max-width: 85vw;
            }
        }
        #stacks-content {
            .container {
                max-width: 90vw;
                .stack {
                    height: 300px;
                    .stack-content {
                        padding: 5px;
                        top: 220px;
                        p.title {
                            letter-spacing: -3px;
                        }
                        p.subtitle {
                            font-size: .8rem;
                        } 
                    }
                    .stack-image {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
    #certification {
        #certification-header {
            .container {
                max-width: 85vw;
            }
        }
        #certification-content {
            .container {
                .certificate {
                    display: block;
                    width: 60%;
                    padding: 0;
                    margin: 0 auto 50px auto;
                    .certificate-content {
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}