// Header - About
#header-about {
    background-image: url("images/about_background.jpg");
    background-size: cover;
    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            font-weight: bolder;
            color: white;
            margin-bottom: 30px;
        }
        p {
            text-align: center;
            font-size: 1.8rem;
            color: white;
        }
    }
}

// LNB (Local Navigation Bar)
nav#lnb {
    ul {
        margin-bottom: 0;
        padding: 15px 0;
        text-align: center;
        li {
            display: inline-block;
            &.active {
                a {
                    font-weight: bold;
                    color: #3CDBED;
                    border-bottom: 3px solid #3CDBED;
                    &:hover {
                        border-bottom: 3px solid #3CDBED;
                    }
                }
            }
            &:not(:last-child) {
                margin-right: 30px;
            }
            a {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                color: inherit;
                font-size: 1.5rem;
                transition: all .3s;
                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid #333;
                }
            }
        }
    }
}

// Introduction
#introduction {
    padding-top: 100px;
    #introduction-header {
        margin-bottom: 80px;
        .container {
            h2 {
                font-weight: bolder;
                margin-bottom: 30px;
            }
            h3 {
                font-weight: bolder;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 5px;
            }
        }
    }
    #introduction-subheader {
        background-image: url("./images/introduction_background.jpg");
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        .container {
            position: relative;
            height: 400px;
            #subheader-box {
                background: linear-gradient(to bottom, #3CDBED, rgb(0, 185, 206));
                position: absolute;
                right: 0;
                bottom: 30px;
                width: 50%;
                height: 400px;
                box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
                padding: 50px;
                p.since {
                    font-weight: lighter;
                    color: white;
                    margin-bottom: 30px;
                }
                p.title {
                    font-weight: bolder;
                    font-size: 2rem;
                    color: white;
                    margin-bottom: 10px;
                }
                p.subtitle {
                    font-weight: bolder;
                    font-size: 1.2rem;
                    color: white;
                    margin-bottom: 30px;
                }
                p.content {
                    color: white;
                }
            }
        }
    }
}

// Core values
#values {
    padding: 100px 0 144px 0;
    background-color: #F8F8F8;
    #values-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #values-content {
        .value-alpha {
            margin-bottom: 10px;
            .container {
                display: flex;
                flex-direction: row;
                .value-image {
                    display: inline-block;
                    vertical-align: middle;
                    width: 47.5%;
                    margin-right: 2.5%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .value-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;
                    vertical-align: middle;
                    width: 50%;
                    text-align: center;
                    img {
                        margin-bottom: 30px;
                    }
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 10px;
                    }
                    p.description {
                        color: gray;
                    }
                }
            }
        }
        .value-beta {
            margin-bottom: 10px;
            .container {
                display: flex;
                flex-direction: row;
                .value-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;
                    vertical-align: middle;
                    width: 47.5%;
                    margin-right: 2.5%;
                    text-align: center;
                    img {
                        margin-bottom: 30px;
                    }
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 10px;
                    }
                    p.description {
                        color: gray;
                    }
                }
                .value-image {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

// Techstacks
#stacks {
    padding: 100px 0 144px 0;
    #stacks-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #stacks-content {
        .container {
            .stack {
                display: inline-block;
                vertical-align: middle;
                width: 33.33%;
                padding: 30px;
                .stack-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 300px;
                    text-align: center;
                    background-color: #3CDBED;
                    border-radius: 50%;
                    margin-bottom: 30px;
                    img {
                        width: 50%;
                        height: auto;
                    }
                }
                .stack-content {
                    text-align: center;
                    p.title {
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }
                    p.subtitle {
                        color: #555;
                        font-size: 1.1rem;
                    }
                    p.description {
                        color: #777;
                    }
                }
            }
        }
    }
}

// Certificates
#certification {
    background-color: #F8F8F8;
    padding: 100px 0 144px 0;
    #certification-header {
        .container {
            margin-bottom: 30px;
        }
    }
    #certification-content {
        .container {
            .certificate {
                display: inline-block;
                vertical-align: middle;
                width: 33.33%;
                padding: 30px;
                .certificate-image {
                    margin-bottom: 30px;
                    img {
                        width: 100%;
                        height: auto;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
                    }
                }
                .certificate-content {
                    p {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}