// InfoWindow
.info-window {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all .3s;
    p {
        font-size: .8rem;
        margin-bottom: 0;
    }
}

#marker-info {
    transition: all .3s;
    text-align: center;
    img {
        margin-bottom: 5px;
    }
    p {
        font-weight: bold;
        margin-bottom: 5px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// DMC Marker
#dmc {
    position: relative;
    top: -80px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #dmc-icons {
        display: flex;
        margin-right: 5px;
        #dmc-arex {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: turquoise;
            border-radius: 50%;
            p {
                font-size: .8rem;
                color: white;
                margin-bottom: 0;
            }
        }
        #dmc-central {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: mediumseagreen;
            border-radius: 50%;
            p {
                font-size: .8rem;
                color: white;
                margin-bottom: 0;
            }
        }
        #dmc-6 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: brown;
            border-radius: 50%;
            p {
                font-size: .8rem;
                color: white;
                margin-bottom: 0;
            }
        }
    }
    #dmc-content {
        p {
            margin-bottom: 0;
        }
    }
}

// Humansia Marker
#humansia {
    position: relative;
    left: -200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    #humansia-header {
        margin-bottom: 15px;
        p {
            margin-bottom: 0;
        }
    }
    #humansia-content {
        #humansia-content-intercity {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #humansia-content-intercity-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: blue;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #humansia-content-intercity-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #humansia-content-terminus {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #humansia-content-terminus-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: green;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #humansia-content-terminus-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #humansia-content-town {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #humansia-content-town-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: greenyellow;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #humansia-content-town-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #humansia-content-metropolitan {
            display: flex;
            flex-direction: row;
            align-items: center;
            #humansia-content-metropolitan-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: red;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #humansia-content-metropolitan-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

// Worldcup Marker
#worldcup {
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    #worldcup-header {
        margin-bottom: 15px;
        p {
            margin-bottom: 0;
        }
    }
    #worldcup-content {
        #worldcup-content-intercity {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #worldcup-content-intercity-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: blue;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #worldcup-content-intercity-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #worldcup-content-terminus {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #worldcup-content-terminus-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: green;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #worldcup-content-terminus-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #worldcup-content-town {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            #worldcup-content-town-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: greenyellow;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #worldcup-content-town-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        #worldcup-content-metropolitan {
            display: flex;
            flex-direction: row;
            align-items: center;
            #worldcup-content-metropolitan-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: red;
                border-radius: 50%;
                margin-right: 5px;
                p {
                    font-size: .8rem;
                    margin-bottom: 0;
                    color: white;
                }
            }
            #worldcup-content-metropolitan-content {
                ul {
                    margin-bottom: 0;
                    display: flex;
                    li {
                        font-size: .8rem;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

// Map
#map-section {
    padding: 100px 0 50px 0;
    #map-header {
        margin-bottom: 80px;
    }
    #map-content {
        margin-bottom: 30px;
        .container {
            #map {
                width: 100%;
                height: 600px;
            }
        }
    }
    #map-detail {
        .container {
            #map-detail-address {
                width: 50%;
                padding: 30px;
                background-color: #F8F8F8;
                display: inline-block;
                vertical-align: middle;
                #map-detail-address-image {
                    width: 60px;
                    margin-right: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                #map-detail-address-content {
                    width: calc(100% - 90px);
                    display: inline-block;
                    vertical-align: middle;
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 3px;
                    }
                    p.description {
    
                    }
                }
            }
            #map-detail-contact {
                width: 50%;
                height: 162px;
                padding: 30px;
                background-color: #F8F8F8;
                display: inline-block;
                vertical-align: middle;
                #map-detail-contact-image {
                    position: relative;
                    top: 45%;
                    transform: translateY(-50%);
                    width: 60px;
                    margin-right: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                #map-detail-contact-content {
                    width: calc(100% - 90px);
                    display: inline-block;
                    vertical-align: middle;
                    p.title {
                        font-weight: bolder;
                        margin-bottom: 3px;
                    }
                    p.description {
    
                    }
                }
            }
        }
    }
    #map-subway {
        padding: 30px 0;
        .container {
            #map-subway-image {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                img {
                    padding: 10px;
                    border: 1px solid lightgray;
                    border-radius: 50%;
                    width: 100%;
                    height: auto;
                }
            }
            #map-subway-content {
                display: inline-block;
                vertical-align: middle;
                max-width: calc(100% - 106px);
                p.title {
                    color: #3CDBED;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                p.content {
                    margin-bottom: 0;
                }
            }
        }
    }
    #map-bus {
        .container {
            #map-bus-image {
                display: inline-block;
                vertical-align: top;
                margin-right: 20px;
                img {
                    padding: 10px;
                    border: 1px solid lightgray;
                    border-radius: 50%;
                    width: 100%;
                    height: auto;
                }
            }
            #map-bus-content {
                display: inline-block;
                vertical-align: top;
                max-width: calc(100% - 106px);
                & > p.title {
                    color: #3CDBED;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .map-bus-content {
                    p.title {
                        margin-bottom: -3px;
                    }
                    .map-bus-content-bus {
                        p.content {
                            display: inline-block;
                            vertical-align: middle;
                            margin-bottom: 0;
                            span.blue {
                                color: #386de8;
                            }
                            span.green {
                                color: #3cc344;
                            }
                            span.red {
                                color: #fb5852;
                            }
                            span.khaki {
                                color: #87c700;
                            }
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    #map-section {
        #map-detail {
            .container {
                #map-detail-contact {
                    #map-detail-contact-image {
                        top: 30%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    #map-section {
        #map-content {
            .container {
                #map {
                    height: 500px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #map-section {
        #map-content {
            .container {
                #map {
                    height: 400px !important;
                }
            }
        }
        #map-detail {
            .container {
                #map-detail-address {
                    display: block;
                    width: 100%;
                }
                #map-detail-contact {
                    display: block;
                    width: 100%;
                }
            }
        }
        #map-bus {
            .container {
                #map-bus-content {
                    .map-bus-content {
                        .map-bus-content-bus {
                            p.content {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    #map-section {
        #map-subway {
            padding: 30px 30px 15px 30px;
            .container {
                padding-right: 0;
                #map-subway-image {
                    margin-right: 30px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                #map-subway-content {
                    max-width: calc(100% - 90px);
                    p.title {
                        font-size: .8rem;
                    }
                    p.content {
                        font-size: .8rem;
                    }
                }
            }
        }
        #map-bus {
            padding: 30px 30px 15px 30px;
            .container {
                padding-right: 0;
                #map-bus-image {
                    margin-right: 30px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                #map-bus-content {
                    max-width: calc(100% - 90px);
                    & > p.title {
                        font-size: .8rem;
                    }
                    .map-bus-content {
                        p.title {
                            margin-bottom: 0;
                            font-size: .8rem;
                        }
                        .map-bus-content-bus {
                            p.content {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}