// Importing fonts...
@font-face {
    font-family: "NanumSquare";
    src: url("./fonts/NanumSquareB.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "NanumSquare";
    src: url("./fonts/NanumSquareEB.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "NanumSquare";
    src: url("./fonts/NanumSquareL.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "NanumSquare";
    src: url("./fonts/NanumSquareR.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("./fonts/NanumSquareRoundB.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "NanumSquareRound";
    src: url("./fonts/NanumSquareRoundEB.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "NanumSquareRound";
    src: url("./fonts/NanumSquareRoundL.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "NanumSquareRound";
    src: url("./fonts/NanumSquareRoundR.ttf");
    font-weight: normal;
}

// Basic settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    border: 0;
}
body {
    font-family: "NanumSquare";
    overflow-x: hidden;
}

// GNB (Global Navigation Bar)
nav#gnb {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 2;
    height: 80px;
    .container {
        #gnb-brand {
            float: left;
            line-height: 80px;
            a {
                img {

                }
            }
        }
        #gnb-nav {
            float: right;
            ul {
                li {
                    display: inline-block;
                    line-height: 80px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a {
                        font-size: 1.2rem;
                        transition: all .3s;
                        color: white;
                        font-weight: bold;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
        #gnb-hamburger {
            display: none;
        }
    }
}

// Bootstrap Carousel
.carousel-inner {
    height: 50%;
    .carousel-item {
        position: relative;
        .dark-filter {
            position: absolute;
            background-color: rgba(0, 0, 0, .5);
            height: 100%;
        }
    }
}
.carousel-content {
    padding: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 500px;
    h2 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 30px;
    }
    p {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .carousel-buttons {
        position: absolute;
        bottom: 50px;
        right: 50px;
        a {
            padding: 10px 20px;
            font-size: 1.5rem;
            color: white;
            display: inline-block;
            font-weight: bold;
            &.detail {
                margin-right: 30px;
                background-color: rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &.inquire {
                border: 1px solid rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &.solution {
                background-color: rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Primary business sectors
#sectors {
    margin-top: 100px;
    margin-bottom: 100px;
    #sectors-header {
        text-align: center;
        margin-bottom: 50px;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        p {
            line-height: 150%;
            font-size: 1.2rem;
        }
    }
    #sectors-content {
        .container {
            .row {
                div {
                    padding: 10px;
                    .sector-item {
                        border: 1px solid #333;
                        padding: 30px;
                        text-align: center;
                        i {
                            font-size: 4rem;
                            margin-bottom: 20px;
                        }
                        h3 {
                            font-weight: bolder;
                            margin-bottom: 20px;
                        }
                        p {
                            line-height: 150%;
                            margin-bottom: 30px;
                            font-size: 1.2rem;
                        }
                        a {
                            color: #333;
                            display: inline-block;
                            font-size: 1.2rem;
                            padding: 8px 30px;
                            border: 1px solid #333;
                            transition: all .3s;
                            &:hover {
                                text-decoration: none;
                                background-color: #333;
                                color: white;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        text-align: center;
                    }
                    &:nth-of-type(5) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Current technologies
#technologies {
    margin-bottom: 100px;
    #technologies-header {
        text-align: center;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
    }
    #technologies-content {
        .container {
            position: relative;
            #technologies-left-arrow {
                cursor: pointer;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                z-index: 1;
                display: none;
                vertical-align: middle;
                i {
                    font-size: 2rem;
                    transition: all .3s;
                }
                &:hover {
                    i {
                        transform: scale(1.2);
                    }
                }
            }
            #technologies-right-arrow {
                cursor: pointer;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                z-index: 1;
                display: none;
                vertical-align: middle;
                i {
                    font-size: 2rem;
                    transition: all .3s;
                }
                &:hover {
                    i {
                        transform: scale(1.2);
                    }
                }
            }
            ul {
                display: flex;
                flex-direction: row;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 176px;
                    height: 176px;
                    border-radius: 50%;
                    border: 1px solid #333;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    i {
                        font-size: 4rem;
                        margin-bottom: 15px;
                    }
                    img {
                        height: 64px;
                        width: auto;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// Portfolios
#portfolios {
    margin-bottom: 100px;
    #portfolios-header {
        margin-bottom: 30px;
        text-align: center;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        h4 {
            font-weight: bold;
        }
    }
    #portfolios-filters {
        margin-bottom: 30px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                a {
                    line-height: 160%;
                    color: #333;
                    font-weight: bold;
                    font-size: 1.2rem;
                    border-bottom: 2px solid transparent;
                    transition: all .3s;
                    &:hover {
                        text-decoration: none;
                        border-bottom: 1px solid #333;
                    }
                }
                &.active {
                    a {
                        border-bottom: 2px solid #333;
                    }
                }
            }
        }
    }
    #portfolios-items {
        .container {
            .row {
                div {
                    padding: 30px;
                    .portfolio {
                        position: relative;
                        width: 320px;
                        height: 320px;
                        img {
                            width: 320px;
                            height: 320px;
                            position: absolute;
                            width: 100%;
                            height: auto;
                        }
                        .hovered {
                            padding: 20px;
                            opacity: 0;
                            width: 320px;
                            height: 320px;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: rgba(0, 0, 0, .5);
                            text-align: center;
                            p.portfolio-title {
                                color: white;
                                font-size: 1.5rem;
                                margin-bottom: 10px;
                            }
                            p.portfolio-description {
                                font-size: 1.2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Clients
#clients {
    margin-bottom: 100px;
    #clients-header {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            font-weight: bolder;
        }
    }
    #clients-list {
        ul {
            text-align: center;
            li {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 15px;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                img {

                }
            }
        }
    }
}

// Contact
#contact {
    margin-bottom: 100px;
    #contact-header {
        text-align: center;
        margin-bottom: 50px;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        p {
            font-size: 1.2rem;
        }
    }
    #contact-content {
        text-align: center;
        #contact-email {
            display: inline-block;
            vertical-align: top;
            margin-right: 150px;
            text-align: center;
            i {
                font-size: 5rem;
                margin-bottom: 20px;
            }
            p {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 1.5rem
            }
            a {
                color: inherit;
                font-size: 1.2rem;
            }
        }
        #contact-phone {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            i {
                font-size: 5rem;
                margin-bottom: 20px;
            }
            p#contact-phone-title {
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            p#contact-phone-number {
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
    }
}

// Footer
#footer {
    background-color: lightgray;
    .container {
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 30px;
        #footer-sitemap {
            float: left;
            & > ul {
                & > li {
                    display: inline-block;
                    vertical-align: top;
                    width: 120px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    & > a {
                        display: inline-block;
                        margin-bottom: 10px;
                        color: inherit;
                        font-size: 1.2rem;
                        font-weight: bold;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    & > ul {
                        & > li {
                            margin-bottom: 3px;
                            & > a {
                                color: inherit;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        #footer-brand {
            float: right;
            #footer-brand-logo {
                overflow: hidden;
                margin-bottom: 10px;
                img {
                    float: right;
                }
            }
            #footer-brand-address {
                p {
                    line-height: 150%;
                    text-align: right;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Media query (max-width: 1200px)
@media only screen and (max-width: 1200px) {
    #technologies {
        #technologies-content {
            .container {
                #technologies-left-arrow {
                    display: inline-block;
                }
                #technologies-right-arrow {
                    display: inline-block;
                }
                #technologies-items {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    ul {
                        position: relative;
                        width: 1110px;
                    }
                }
            }
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 800px;
                margin: auto;
            }
        }
    }
    .carousel-content {
        top: 65%;
        .carousel-buttons {
            bottom: 180px;
            a {
                padding: 8px 20px;
            }
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    #footer {
        .container {
            #footer-sitemap {
                float: none;
                ul {
                    text-align: center;
                }
            }
            #footer-brand {
                float: none;
                #footer-brand-logo {
                    text-align: center;
                    img {
                        float: none;
                    }
                }
                #footer-brand-address {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Media query (max-width: 992px)
@media only screen and (max-width: 992px) {
    nav#gnb {
        .container {
            #gnb-nav {
                display: none;
            }
            #gnb-hamburger {
                display: block;
                float: right;
                a {
                    i {
                        line-height: 80px;
                        color: white;
                        font-size: 2rem;
                    }
                }
                ul {
                    position: absolute;
                    top: 80px;
                    left: 0;
                    z-index: 1;
                    width: 100vw;
                    display: none;
                    background-color: rgba(0, 0, 0, .5);
                    li {
                        text-align: center;
                        margin-bottom: 15px;
                        a {
                            color: white;
                            font-size: 1.5rem;
                            border-bottom: 1px solid transparent;
                            transition: all .3s;
                            &:hover {
                                text-decoration: none;
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 600px;
                margin: auto;
            }
        }
    }
    .carousel-inner {
        .carousel-item {
            height: 550px;
            img {
                height: 100%;
            }
        }
    }
    .carousel-content {
        text-align: center;
        top: 60%;
        .carousel-buttons {
            position: static;
            a {
                padding: 8px 20px;
            }
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    #portfolios {
        #portfolios-items {
            .container {
                .row {
                    div {
                        padding: 0;
                    }
                }
            }
        }
    }
}

// Media query (max-width: 768px)
@media only screen and (max-width: 768px) {
    #technologies {
        #technologies-content {
            .container {
                #technologies-items {
                    ul {
                        width: 3110px;
                        li {
                            width: 510px;
                            height: 510px;
                            i {
                                font-size: 10rem;
                                margin-bottom: 30px;
                            }
                            img {
                                height: 160px;
                                width: auto;
                            }
                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .carousel-inner {
        .carousel-item {
            height: 400px;
        }
    }
    .carousel-content {
        top: 90%;
        .carousel-buttons {
            display: none;
        }
        h2 {
            font-size: 1.5rem;
        }
        p {
            display: none;
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 500px;
                margin: auto;
            }
        }
    }
    #portfolios {
        #portfolios-items {
            .container {
                .row {
                    div {
                        .portfolio {
                            width: 540px;
                            height: 540px;
                            .hovered {
                                width: 540px;
                                height: 540px;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact {
        #contact-header {
            width: 80%;
            margin: auto;
        }
        #contact-content {
            #contact-email {
                display: block;
                margin: 0;
                margin-bottom: 50px;
                i {
                    font-size: 8rem;
                }
            }
            #contact-phone {
                display: block;
                i {
                    font-size: 8rem;
                }
            }
        }
    }
    #footer {
        .container {
            #footer-sitemap {
                display: none;
            }
        }
    }
}

// Media query (max-width: 576px)
@media only screen and (max-width: 576px) {
    #technologies {
        #technologies-content {
            .container {
                width: 450px;
                #technologies-items {
                    ul {
                        width: 2570px;
                        li {
                            width: 420px;
                            height: 420px;
                            i {
                                font-size: 10rem;
                                margin-bottom: 30px;
                            }
                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 400px;
                margin: auto;
            }
        }
    }
    #portfolios {
        #portfolios-items {
            .container {
                .row {
                    div {
                        .portfolio {
                            width: 100vw;
                            height: 100vw;
                            .hovered {
                                width: 100vw;
                                height: 100vw;
                            }
                        }
                    }
                }
            }
        }
    }
}