@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700&display=swap&subset=korean");
#header-about {
  background-image: url("images/about_background.jpg");
  background-size: cover; }
  #header-about .container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #header-about .container h1 {
      font-size: 3rem;
      font-weight: bolder;
      color: white;
      margin-bottom: 30px; }
    #header-about .container p {
      text-align: center;
      font-size: 1.8rem;
      color: white; }

nav#lnb ul {
  margin-bottom: 0;
  padding: 15px 0;
  text-align: center; }
  nav#lnb ul li {
    display: inline-block; }
    nav#lnb ul li.active a {
      font-weight: bold;
      color: #3CDBED;
      border-bottom: 3px solid #3CDBED; }
      nav#lnb ul li.active a:hover {
        border-bottom: 3px solid #3CDBED; }
    nav#lnb ul li:not(:last-child) {
      margin-right: 30px; }
    nav#lnb ul li a {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      color: inherit;
      font-size: 1.5rem;
      transition: all .3s; }
      nav#lnb ul li a:hover {
        text-decoration: none;
        border-bottom: 2px solid #333; }

#introduction {
  padding-top: 100px; }
  #introduction #introduction-header {
    margin-bottom: 80px; }
    #introduction #introduction-header .container h2 {
      font-weight: bolder;
      margin-bottom: 30px; }
    #introduction #introduction-header .container h3 {
      font-weight: bolder;
      margin-bottom: 20px; }
    #introduction #introduction-header .container p {
      margin-bottom: 5px; }
  #introduction #introduction-subheader {
    background-image: url("./images/introduction_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 400px; }
    #introduction #introduction-subheader .container {
      position: relative;
      height: 400px; }
      #introduction #introduction-subheader .container #subheader-box {
        background: linear-gradient(to bottom, #3CDBED, #00b9ce);
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 50%;
        height: 400px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        padding: 50px; }
        #introduction #introduction-subheader .container #subheader-box p.since {
          font-weight: lighter;
          color: white;
          margin-bottom: 30px; }
        #introduction #introduction-subheader .container #subheader-box p.title {
          font-weight: bolder;
          font-size: 2rem;
          color: white;
          margin-bottom: 10px; }
        #introduction #introduction-subheader .container #subheader-box p.subtitle {
          font-weight: bolder;
          font-size: 1.2rem;
          color: white;
          margin-bottom: 30px; }
        #introduction #introduction-subheader .container #subheader-box p.content {
          color: white; }

#values {
  padding: 100px 0 144px 0;
  background-color: #F8F8F8; }
  #values #values-header .container {
    margin-bottom: 30px; }
  #values #values-content .value-alpha .container, #values #values-content .value-beta .container {
    display: flex;
    flex-direction: row; }
    #values #values-content .value-alpha .container .value-image, #values #values-content .value-beta .container .value-image {
      display: inline-block;
      vertical-align: middle;
      width: 50%; }
      #values #values-content .value-alpha .container .value-image img, #values #values-content .value-beta .container .value-image img {
        width: 100%;
        height: auto; }
    #values #values-content .value-alpha .container .value-content, #values #values-content .value-beta .container .value-content {
      display: inline-block;
      padding: 30px;
      vertical-align: middle;
      width: 50%;
      text-align: center; }
      #values #values-content .value-alpha .container .value-content img, #values #values-content .value-beta .container .value-content img {
        margin-bottom: 30px; }
      #values #values-content .value-alpha .container .value-content p.title, #values #values-content .value-beta .container .value-content p.title {
        font-weight: bolder;
        margin-bottom: 10px; }
      #values #values-content .value-alpha .container .value-content p.description, #values #values-content .value-beta .container .value-content p.description {
        color: gray; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

img {
  border: 0; }

body {
  font-family: "Noto Sans KR", sans-serif; }

html, body {
  overflow-x: hidden;
  font-size: 18px; }

header#header {
  height: 700px; }

nav#gnb {
  width: 100%;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 16;
  height: 80px; }
  nav#gnb .container #gnb-brand {
    float: left;
    line-height: 80px; }
  nav#gnb .container #gnb-nav {
    float: right; }
    nav#gnb .container #gnb-nav ul li {
      display: inline-block;
      line-height: 80px; }
      nav#gnb .container #gnb-nav ul li:not(:last-child) {
        margin-right: 15px; }
      nav#gnb .container #gnb-nav ul li a {
        font-size: 1.2rem;
        transition: all .3s;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid transparent; }
        nav#gnb .container #gnb-nav ul li a:hover {
          text-decoration: none;
          border-bottom: 1px solid white; }
  nav#gnb .container #gnb-hamburger {
    display: none; }

.carousel-inner {
  height: 50%; }
  .carousel-inner .carousel-item {
    position: relative;
    overflow: hidden; }
    .carousel-inner .carousel-item .dark-filter {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%; }
    .carousel-inner .carousel-item img {
      width: 1920px;
      height: 700px; }

.carousel-content {
  padding: 50px 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 500px; }
  .carousel-content h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px; }
  .carousel-content p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 30px; }
  .carousel-content .carousel-buttons {
    position: absolute;
    bottom: 50px;
    right: 0; }
    .carousel-content .carousel-buttons a {
      padding: 10px 20px;
      font-size: 1.5rem;
      color: white;
      display: inline-block; }
      .carousel-content .carousel-buttons a.detail {
        margin-right: 30px;
        background-color: rgba(60, 219, 237, 0.5);
        transition: all .3s; }
        .carousel-content .carousel-buttons a.detail:hover {
          background-color: #3cdbed; }
      .carousel-content .carousel-buttons a.inquire {
        border: 1px solid rgba(60, 219, 237, 0.5);
        transition: all .3s; }
        .carousel-content .carousel-buttons a.inquire:hover {
          background-color: #3cdbed; }
      .carousel-content .carousel-buttons a.solution {
        background-color: rgba(60, 219, 237, 0.5);
        transition: all .3s; }
        .carousel-content .carousel-buttons a.solution:hover {
          background-color: #3cdbed; }
      .carousel-content .carousel-buttons a:hover {
        text-decoration: none; }

#sectors {
  padding: 144px 0 100px 0; }
  #sectors #sectors-header {
    text-align: center;
    margin-bottom: 60px; }
    #sectors #sectors-header h3 {
      font-weight: bolder;
      margin-bottom: 30px; }
    #sectors #sectors-header p {
      line-height: 150%;
      font-size: 1.2rem; }
  #sectors #sectors-content {
    width: 1140px;
    margin: auto; }
    #sectors #sectors-content .sector-alpha {
      position: relative;
      height: 500px; }
      #sectors #sectors-content .sector-alpha .sector-left {
        position: absolute;
        left: 0;
        width: 50%;
        height: auto; }
        #sectors #sectors-content .sector-alpha .sector-left img {
          width: 100%;
          height: auto; }
      #sectors #sectors-content .sector-alpha .sector-right {
        padding: 50px 60px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 125px;
        right: 0;
        width: 55%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); }
        #sectors #sectors-content .sector-alpha .sector-right h4 {
          font-weight: bold;
          margin-bottom: 20px; }
        #sectors #sectors-content .sector-alpha .sector-right p {
          margin-bottom: 30px;
          color: #777; }
        #sectors #sectors-content .sector-alpha .sector-right a {
          display: inline-block;
          padding: 10px 30px;
          border: 1px solid #333;
          color: inherit;
          transition: all .3s; }
          #sectors #sectors-content .sector-alpha .sector-right a:hover {
            text-decoration: none;
            background-color: #3CDBED;
            border: 1px solid #3CDBED;
            color: white; }
    #sectors #sectors-content .sector-beta {
      position: relative;
      height: 500px; }
      #sectors #sectors-content .sector-beta .sector-left {
        position: absolute;
        padding: 50px 60px;
        left: 0;
        top: 125px;
        z-index: 1;
        width: 55%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); }
        #sectors #sectors-content .sector-beta .sector-left h4 {
          font-weight: bold;
          margin-bottom: 20px; }
        #sectors #sectors-content .sector-beta .sector-left p {
          margin-bottom: 30px;
          color: #777; }
        #sectors #sectors-content .sector-beta .sector-left a {
          display: inline-block;
          padding: 10px 30px;
          border: 1px solid #333;
          color: inherit;
          transition: all .3s; }
          #sectors #sectors-content .sector-beta .sector-left a:hover {
            text-decoration: none;
            background-color: #3CDBED;
            border: 1px solid #3CDBED;
            color: white; }
      #sectors #sectors-content .sector-beta .sector-right {
        position: absolute;
        right: 0;
        width: 50%;
        height: auto; }
        #sectors #sectors-content .sector-beta .sector-right img {
          width: 100%;
          height: auto; }

#technologies {
  padding: 50px 0;
  background-image: url("./images/technologies_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #technologies #technologies-header {
    text-align: center; }
    #technologies #technologies-header h3 {
      color: white;
      font-weight: bolder;
      margin-bottom: 50px; }
  #technologies #technologies-content .container {
    position: relative; }
    #technologies #technologies-content .container ul li {
      display: inline-block;
      vertical-align: middle;
      width: 15.83%;
      height: auto; }
      #technologies #technologies-content .container ul li:not(:last-child) {
        margin-right: 1%; }
      #technologies #technologies-content .container ul li .technologies-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center; }
        #technologies #technologies-content .container ul li .technologies-item i {
          color: white;
          font-size: 4rem;
          margin-bottom: 15px; }
        #technologies #technologies-content .container ul li .technologies-item img {
          height: 64px;
          width: auto;
          margin-bottom: 15px; }
        #technologies #technologies-content .container ul li .technologies-item p {
          color: white;
          font-size: 1.2rem;
          font-weight: bold; }

#technologies-slider {
  margin-bottom: 100px;
  display: none;
  background-color: lightgray; }
  #technologies-slider #technologies-slider-header {
    padding-top: 30px; }
    #technologies-slider #technologies-slider-header h3 {
      font-weight: bolder;
      text-align: center; }
  #technologies-slider .container .carousel .carousel-inner .carousel-item {
    height: 300px;
    position: relative; }
    #technologies-slider .container .carousel .carousel-inner .carousel-item img {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 15%; }

#portfolios {
  padding: 144px 0 100px 0; }
  #portfolios #portfolios-header {
    margin-bottom: 30px;
    text-align: center; }
    #portfolios #portfolios-header h3 {
      font-weight: bolder;
      margin-bottom: 30px; }
    #portfolios #portfolios-header h4 {
      font-size: 1.2rem; }
  #portfolios #portfolios-filters {
    margin-bottom: 30px; }
    #portfolios #portfolios-filters ul {
      text-align: center; }
      #portfolios #portfolios-filters ul li {
        display: inline-block; }
        #portfolios #portfolios-filters ul li:not(:last-child) {
          margin-right: 15px; }
        #portfolios #portfolios-filters ul li a {
          line-height: 160%;
          color: #333;
          font-weight: bold;
          font-size: 1.2rem;
          border-bottom: 2px solid transparent;
          transition: all .3s; }
          #portfolios #portfolios-filters ul li a:hover {
            text-decoration: none;
            border-bottom: 1px solid #333; }
        #portfolios #portfolios-filters ul li.active a {
          border-bottom: 2px solid #333; }
  #portfolios #portfolios-items .container .row > div {
    padding: 30px; }
    #portfolios #portfolios-items .container .row > div .portfolio {
      position: relative;
      width: 320px;
      height: 320px; }
      #portfolios #portfolios-items .container .row > div .portfolio img {
        width: 320px;
        height: 320px;
        position: absolute;
        width: 100%;
        height: auto; }
      #portfolios #portfolios-items .container .row > div .portfolio .hovered {
        padding: 20px;
        opacity: 0;
        width: 320px;
        height: 320px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        text-align: center; }
        #portfolios #portfolios-items .container .row > div .portfolio .hovered p.portfolio-title {
          color: white;
          font-size: 1.5rem;
          margin-bottom: 10px; }
        #portfolios #portfolios-items .container .row > div .portfolio .hovered p.portfolio-description {
          font-size: 1.2rem;
          color: white; }

#portfolios-slider {
  display: none;
  margin-bottom: 80px; }
  #portfolios-slider #portfolios-slider-header {
    width: 80%;
    margin: auto;
    text-align: center; }
    #portfolios-slider #portfolios-slider-header h3 {
      font-weight: bolder;
      margin-bottom: 20px; }
    #portfolios-slider #portfolios-slider-header p {
      font-size: 1.5rem; }
  #portfolios-slider #portfolios-slider-category ul {
    text-align: center; }
    #portfolios-slider #portfolios-slider-category ul li {
      display: inline-block; }
      #portfolios-slider #portfolios-slider-category ul li:not(:last-child) {
        margin-right: 10px; }
      #portfolios-slider #portfolios-slider-category ul li a {
        font-weight: bold;
        border-bottom: 3px solid transparent;
        color: inherit;
        font-size: 1.2rem;
        transition: all .3s; }
        #portfolios-slider #portfolios-slider-category ul li a:hover {
          border-bottom: 1px solid #333;
          text-decoration: none; }
      #portfolios-slider #portfolios-slider-category ul li.active a {
        border-bottom: 3px solid #333; }
  #portfolios-slider #portfolios-slider-carousel > div {
    display: none; }
    #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item {
      position: relative; }
      #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item img {
        position: absolute;
        width: 400px;
        height: 400px;
        top: 5%; }
    #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }
    #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }
    #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-indicators li {
      background-color: #333; }
  #portfolios-slider #portfolios-slider-carousel #portfolios-solution .container {
    text-align: center; }
    #portfolios-slider #portfolios-slider-carousel #portfolios-solution .container img {
      width: 720px;
      height: 720px; }
    #portfolios-slider #portfolios-slider-carousel #portfolios-solution .container h5 {
      font-size: 2rem; }
    #portfolios-slider #portfolios-slider-carousel #portfolios-solution .container p {
      font-size: 1.5rem; }

#clients {
  padding: 50px 0;
  background-color: #EEE; }
  #clients #clients-header {
    text-align: center;
    margin-bottom: 50px; }
    #clients #clients-header h3 {
      font-weight: bolder; }
  #clients #clients-list ul {
    text-align: center; }
    #clients #clients-list ul li {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 15px; }
      #clients #clients-list ul li:not(:last-child) {
        margin-right: 25px; }
      #clients #clients-list ul li img {
        height: 40px;
        width: auto; }

#clients-slider {
  background-color: lightgray;
  display: none;
  padding: 30px 0; }
  #clients-slider #clients-slider-header {
    padding-top: 30px; }
    #clients-slider #clients-slider-header h3 {
      font-weight: bolder;
      text-align: center; }
  #clients-slider #clients-slider-carousel .container .carousel .carousel-inner .carousel-item {
    height: 300px;
    position: relative; }
    #clients-slider #clients-slider-carousel .container .carousel .carousel-inner .carousel-item img {
      position: absolute;
      top: 30%;
      height: 100px;
      width: auto; }

#contact {
  padding: 100px 0 144px 0;
  background-image: url("./images/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #contact #contact-header {
    text-align: center;
    margin-bottom: 50px; }
    #contact #contact-header h3 {
      font-weight: bolder;
      margin-bottom: 30px;
      color: white; }
    #contact #contact-header p {
      font-size: 1.2rem;
      color: white; }
  #contact #contact-content {
    text-align: center; }
    #contact #contact-content #contact-email {
      display: inline-block;
      vertical-align: top;
      margin-right: 150px;
      text-align: center; }
      #contact #contact-content #contact-email i {
        font-size: 5rem;
        margin-bottom: 20px;
        color: white; }
      #contact #contact-content #contact-email p {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.5rem;
        color: white; }
      #contact #contact-content #contact-email a {
        color: white;
        font-size: 1.2rem; }
    #contact #contact-content #contact-phone {
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      #contact #contact-content #contact-phone i {
        font-size: 5rem;
        margin-bottom: 20px;
        color: white; }
      #contact #contact-content #contact-phone p#contact-phone-title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: white; }
      #contact #contact-content #contact-phone p#contact-phone-number {
        font-size: 1.2rem;
        font-weight: normal;
        color: white; }

#footer {
  background-color: #111; }
  #footer .container {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 30px; }
    #footer .container #footer-sitemap {
      float: left; }
      #footer .container #footer-sitemap > ul > li {
        display: inline-block;
        vertical-align: top;
        width: 100px; }
        #footer .container #footer-sitemap > ul > li:not(:last-child) {
          margin-right: 15px; }
        #footer .container #footer-sitemap > ul > li > a {
          display: inline-block;
          margin-bottom: 10px;
          color: white;
          font-weight: bold; }
          #footer .container #footer-sitemap > ul > li > a:hover {
            text-decoration: none; }
        #footer .container #footer-sitemap > ul > li > ul > li {
          margin-bottom: 3px; }
          #footer .container #footer-sitemap > ul > li > ul > li > a {
            font-size: .8rem;
            color: white;
            letter-spacing: -2px; }
            #footer .container #footer-sitemap > ul > li > ul > li > a:hover {
              text-decoration: underline; }
    #footer .container #footer-brand {
      float: right; }
      #footer .container #footer-brand #footer-brand-logo {
        overflow: hidden;
        margin-bottom: 10px; }
        #footer .container #footer-brand #footer-brand-logo img {
          float: right; }
      #footer .container #footer-brand #footer-brand-address p {
        line-height: 150%;
        text-align: right;
        margin-bottom: 0;
        color: white; }

@media screen and (max-width: 1199px) {
  #header {
    height: 850px; }
  #portfolios #portfolios-items .container .row > div .portfolio img {
    left: 50px; }
  #portfolios #portfolios-items .container .row > div .portfolio .hovered {
    left: 50px; }
  #sectors #sectors-header p {
    font-size: 1.5rem;
    width: 800px;
    margin: auto; }
  #sectors #sectors-content {
    width: 960px; }
  #clients #clients-list ul li:not(:last-child) {
    margin-right: 15px; }
  .carousel-content {
    top: 65%; }
    .carousel-content .carousel-buttons {
      bottom: 180px; }
      .carousel-content .carousel-buttons a {
        padding: 8px 20px; }
    .carousel-content h2 {
      font-size: 2rem; }
    .carousel-content p {
      font-size: 1.2rem; }
  #footer .container #footer-sitemap {
    float: none; }
    #footer .container #footer-sitemap ul {
      text-align: center; }
  #footer .container #footer-brand {
    float: none; }
    #footer .container #footer-brand #footer-brand-logo {
      text-align: center; }
      #footer .container #footer-brand #footer-brand-logo img {
        float: none; }
    #footer .container #footer-brand #footer-brand-address p {
      text-align: center; } }

@media screen and (max-width: 991px) {
  header#header {
    height: 650px; }
  nav#gnb .container #gnb-nav {
    display: none; }
  nav#gnb .container #gnb-hamburger {
    display: block;
    float: right; }
    nav#gnb .container #gnb-hamburger a i {
      line-height: 80px;
      color: white;
      font-size: 2rem; }
    nav#gnb .container #gnb-hamburger ul {
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 1;
      width: 100vw;
      display: none;
      background-color: rgba(0, 0, 0, 0.5); }
      nav#gnb .container #gnb-hamburger ul li {
        text-align: center;
        margin-bottom: 15px; }
        nav#gnb .container #gnb-hamburger ul li a {
          color: white;
          font-size: 1.5rem;
          border-bottom: 1px solid transparent;
          transition: all .3s; }
          nav#gnb .container #gnb-hamburger ul li a:hover {
            text-decoration: none;
            border-bottom: 1px solid white; }
  #sectors #sectors-header p {
    font-size: 1.5rem;
    width: 600px;
    margin: auto; }
  #sectors #sectors-content {
    width: 720px; }
    #sectors #sectors-content .sector-alpha {
      height: 600px; }
      #sectors #sectors-content .sector-alpha .sector-left {
        position: static;
        width: 80%;
        margin: auto; }
        #sectors #sectors-content .sector-alpha .sector-left img {
          width: 100%;
          height: auto; }
      #sectors #sectors-content .sector-alpha .sector-right {
        top: 220px;
        width: 100%;
        text-align: center; }
    #sectors #sectors-content .sector-beta {
      height: 600px; }
      #sectors #sectors-content .sector-beta .sector-left {
        top: 220px;
        width: 100%;
        text-align: center; }
      #sectors #sectors-content .sector-beta .sector-right {
        position: static;
        width: 80%;
        margin: auto; }
        #sectors #sectors-content .sector-beta .sector-right img {
          width: 100%;
          height: auto; }
  .carousel-inner .carousel-item {
    height: 550px;
    overflow: hidden;
    position: relative; }
    .carousel-inner .carousel-item .dark-filter {
      z-index: 1;
      height: 700px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); }
    .carousel-inner .carousel-item img {
      height: 700px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); }
    .carousel-inner .carousel-item .carousel-content {
      position: relative;
      z-index: 2; }
  .carousel-content {
    text-align: center;
    top: 60%; }
    .carousel-content .carousel-buttons {
      position: static; }
      .carousel-content .carousel-buttons a {
        padding: 8px 20px; }
    .carousel-content h2 {
      font-size: 2rem; }
    .carousel-content p {
      font-size: 1.2rem; }
  #portfolios {
    display: none; }
  #portfolios-slider {
    display: block; }
    #portfolios-slider #portfolios-slider-carousel #portfolios-all {
      display: block; }
  #clients {
    display: none; }
  #clients-slider {
    display: block; }
  #contact #contact-header p {
    font-size: 1.5rem; } }

@media screen and (max-width: 767px) {
  header#header {
    height: 500px; }
  .carousel-inner .carousel-item {
    height: 400px; }
  .carousel-content {
    top: 90%; }
    .carousel-content .carousel-buttons {
      display: none; }
    .carousel-content h2 {
      font-size: 1.5rem; }
    .carousel-content p {
      display: none; }
  #sectors #sectors-header p {
    font-size: 1.5rem;
    width: 500px;
    margin: auto; }
  #sectors #sectors-content {
    width: 100%; }
    #sectors #sectors-content .sector-alpha {
      height: 60vw; }
      #sectors #sectors-content .sector-alpha .sector-left {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
      #sectors #sectors-content .sector-alpha .sector-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
        top: 0;
        left: 0;
        width: 80%;
        height: 52vw; }
    #sectors #sectors-content .sector-beta {
      height: 60vw; }
      #sectors #sectors-content .sector-beta .sector-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
        top: 0;
        left: 0;
        width: 80%;
        height: 52vw; }
      #sectors #sectors-content .sector-beta .sector-right {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
  #technologies {
    display: none; }
  #technologies-slider {
    display: block; }
  #contact #contact-header {
    width: 80%;
    margin: auto; }
  #contact #contact-content #contact-email {
    display: block;
    margin: 0;
    margin-bottom: 50px; }
    #contact #contact-content #contact-email i {
      font-size: 8rem; }
  #contact #contact-content #contact-phone {
    display: block; }
    #contact #contact-content #contact-phone i {
      font-size: 8rem; }
  #clients-slider #clients-slider-carousel .container .carousel .carousel-inner .carousel-item img {
    height: 80px;
    width: auto; }
  #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item img {
    width: 300px !important;
    height: 300px !important;
    top: -3% !important; }
  #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item .carousel-caption {
    display: block !important; }
    #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item .carousel-caption p {
      letter-spacing: -1px; }
  #portfolios-slider-carousel #portfolios-solution .container img {
    width: 540px !important;
    height: 540px !important; }
  #footer .container #footer-sitemap {
    display: none; } }

@media screen and (max-width: 575px) {
  #sectors #sectors-header p {
    font-size: 1.5rem;
    width: 90%;
    margin: auto; }
  #sectors #sectors-content .sector-alpha .sector-right {
    height: 53vw;
    padding: 30px; }
    #sectors #sectors-content .sector-alpha .sector-right h4 {
      margin-bottom: 20px; }
    #sectors #sectors-content .sector-alpha .sector-right p {
      display: none; }
  #sectors #sectors-content .sector-beta .sector-left {
    height: 53vw;
    padding: 30px; }
    #sectors #sectors-content .sector-beta .sector-left h4 {
      margin-bottom: 20px; }
    #sectors #sectors-content .sector-beta .sector-left p {
      display: none; }
  #clients-slider #clients-slider-carousel .container .carousel .carousel-inner .carousel-item {
    height: 200px; }
    #clients-slider #clients-slider-carousel .container .carousel .carousel-inner .carousel-item img {
      height: 60px;
      width: auto;
      top: 35%; }
  #portfolios-slider #portfolios-slider-carousel > div .container .carousel .carousel-inner .carousel-item img {
    width: 60% !important;
    height: auto !important;
    top: 5% !important; }
  #portfolios-slider #portfolios-slider-carousel #portfolios-solution .container img {
    width: 80% !important;
    height: auto !important; } }
