<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <!-- <base href="http://221.132.89.152/hm/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="views/index.html">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>