<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<div id="container-mindway">

    <main id="main">
        <section id="banner">
            <div class="inner">
                <div class="inner_row">
                    <div class="banner_textBox">
                        <h2 class="banner_title">solution</h2>
                        <p class="banner_text">고객 경험과 운영효율 극대화를 지원하기 위한 최신기술 기반의 차별화된 자체 솔루션을 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- // banner -->
        <div id="checkpoint"></div>
        <div class="solution_btn">
            <div class="inner">
                <div class="inner_row">
                    <div>
                        <ul>
                            <li class="lines"><a href="#"><span>인공지능 솔루션</span></a></li>
                            <li class="active"><a href="#"><span>교통 솔루션</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // service_btn -->
        
        <section id="contents">
            <div class="title">
                <div class="inner">
                    <div class="inner_row">
                        <div class="solution_title">
                            <h2>교통 솔루션</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // title -->
            
            <section id="mindway_banner">
                <div class="inner">
                    <div class="inner_row">
                        <div class="mindway_banner">
                            <h2>Mind Way</h2>
                            <strong>글로벌 웹기반 노선도 개발 플랫폼</strong>
                            <p>기존 개발 환경의 시간적·경제적 비효율적인 측면을 개선하여</p>
                            <p>이미지 작업, 좌표 맵핑, 기능 개발 작업을 한번에 처리할 수 있는 새로운 개발환경을 제시하고</p>
                            <p>노선도 제작에 필요한 다양한 정보를 API형태로 제공하여 노선도를 한번에 보다 쉽게 개발할 수 있는 플랫폼</p>
                            <p class="tm_visible">
                                기존 개발 환경의 시간적·경제적 비효율적인 측면을 개선하여 이미지 작업, 좌표 맵핑, 기능 개발 작업을 한번에 처리할 수 있는 새로운 개발환경을 제시하고 노선도 제작에 필요한 다양한 정보를 API형태로 제공하여 노선도를 한번에 보다 쉽게 개발할 수 있는 플랫폼
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // mindway_banner -->
            
            <section id="smart">
                <div class="inner">
                    <div class="inner_row">
                        <div class="smart">
                            <div class="smart_left">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide ss1">
                                            <p class="no">01</p>
                                            <h3>스마트한 노선도 관리 플랫폼</h3>
                                            <p>데이터 입력시 자동 생성되는 데이터 관리 영역</p>
                                            <p>노선도 Import/Export 기능 제공하여 편리한 수정</p>
                                            <p>기본 다국어(영어,중국어,일어)노선도 지원</p>
                                        </div>
                                        <div class="swiper-slide ss2">
                                            <p class="no">02</p>
                                            <h3>편리한 노선도 개발 플랫폼</h3>
                                            <p class="narrow">위지윅 방식의, 마우스로 그리는 간편한 노선도 제작 툴</p>
                                            <p>기본 노선도 MAP 기능을 제공하는 Viewer 제공</p>
                                            <p>기반 정보(지역별/호선별 역 정보) Open API 제공</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="smart_right">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- slides -->
                                        <div class="swiper-slide ss1"></div>
                                        <div class="swiper-slide ss2"></div>
                                    </div>
                                </div>
                                <div class="swiper-pagination indicator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // smart -->
            
            <section id="specification">
                <div class="inner">
                    <div class="inner_row">
                        <div class="specification">
                            <div class="sub_title">
                                <h3>특징</h3>
                            </div>
                            <ul>
                                <li>
                                    <p>클라우드 기반의 서비스 제공으로 언제 어디서든 작업 가능</p>
                                </li>
                                <li>
                                    <p>분할되어있던 작업환경 한곳으로 통합! 비용과 시간 절감 효과</p>
                                </li>
                                <li>
                                    <p>전세계 교통 정보 API 제공으로 서비스 확대 가능</p>
                                </li>
                                <li>
                                    <p>교통정보 기반의 빅데이터 분석을 통한 유의미한 지표 제공</p>
                                </li>
                                <li>
                                    <p>플랫폼 활용 가능 산업의 발전 유도 및 새로운 가치창출 기회 제공</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // specification -->
        </section>
    </main>
</div>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="#">서비스</a>
                    <ul>
                        <li>
                            <a href="#">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="#">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="#">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">솔루션</a>
                    <ul>
                        <li>
                            <a href="#">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="#">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li>
                            <a href="#">소개</a>
                        </li>
                        <li>
                            <a href="#">연혁</a>
                        </li>
                        <li>
                            <a href="#">사업분야</a>
                        </li>
                        <li>
                            <a href="#">보유기술</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="swiper.min.js"></script>
<script src="script.js"></script>
</body>
</html>