<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158098691-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-158098691-1');
    </script>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <!-- <base href="http://221.132.89.152/hm/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="views/index.html">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
<div id="container-it">
    <main id="main">
        <section id="banner">
            <div class="inner">
                <div class="inner_row">
                    <div class="banner_textBox">
                        <h1 class="banner_title">service</h1>
                        <p class="banner_text">고객의 Needs 및 환경에 맞는 최적의 진단, 설계, 개발을 통해 최상의 서비스를 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- // banner -->
        <div id="checkpoint"></div>
        <div class="service_btn">
            <div class="inner">
                <div class="inner_row">
                    <div>
                        <ul>
                            <li class="lines"><a href="views/service/webapp.html"><span>Web/App 서비스</span></a></li>
                            <li class="lines"><a href="views/service/location.html"><span>위치기반 서비스</span></a></li>
                            <li class="active"><a href="views/service/it.html"><span>IT 컨설팅</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // service_btn -->
        <section id="contents">
            <div class="title">
                <div class="inner">
                    <div class="inner_row">
                        <div class="it_title">
                            <h2>IT 컨설팅</h2>
                            <p>다양한 분야의 경험을 기반으로 고객의 성공적인 비즈니스를 위해 정확한 Needs를 도출하고 차별화된 가치를 창출하는 전문적인 컨설팅 서비스를 제공합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // title -->
            <div class="consulting">
                <div class="inner">
                    <div class="inner_row">
                        <div class="consulting_box">
                            <ul>
                                <li class="cb1">
                                    <span class="two_lines">정보화 전략 컨설팅<br />(ISP)</span>
                                </li>
                                <li class="cb2">
                                    <span>솔루션 기반 컨설팅</span>
                                </li>
                                <li class="cb3">
                                    <span>IT 아키텍처 컨설팅</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // consulting -->
            <div class="it_text">
                <div class="inner">
                    <div class="inner_row">
                        <p>마인드올은 전문 컨설턴트를 통해 고객사의 비즈니스 전략과 연계된 IT 전략을 제시하고 고객사의 IT 수준 진단, 거버넌스 모델 정립 및 방향성 개선을 통하여 정확한 의사결정을 지원합니다.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="views/service/webapp.html">서비스</a>
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="views/service/location.html">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="views/service/it.html">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="views/solution/ai.html">솔루션</a>
                    <ul>
                        <li>
                            <a href="views/solution/ai.html">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="views/solution/mindway.html">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="views/portfolio/portfolio.html">포트폴리오</a>
                </li>
                <li>
                    <a href="views/contact/contact.html">문의하기</a>
                </li>
                <li>
                    <a href="views/about/introduction.html">회사소개</a>
                    <ul>
                        <li>
                            <a href="views/about/introduction.html">소개</a>
                        </li>
                        <li>
                            <a href="views/about/chronicle.html">연혁</a>
                        </li>
                        <li>
                            <a href="views/about/areas.html">사업분야</a>
                        </li>
                        <li>
                            <a href="views/about/map.html">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="swiper.min.js"></script>
<script src="fancybox.min.js"></script>
<script src="script.js"></script>
</body>
</html>