<%- include ("../templates/header.ejs") %>
<div id="container-location">

    <main id="main">
        <section id="banner">
            <div class="inner">
                <div class="inner_row">
                    <div class="banner_textBox">
                        <h2 class="banner_title">service</h2>
                        <p class="banner_text">고객의 Needs 및 환경에 맞는 최적의 진단, 설계, 개발을 통해 최상의 서비스를 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="checkpoint"></div>
        <!-- // banner -->
        <div class="service_btn">
            <div class="inner">
                <div class="inner_row">
                    <div>
                        <ul>
                            <li class="lines"><a href="#"><span>Web/App 서비스</span></a></li>
                            <li class="active lines"><a href="#"><span>위치기반 서비스</span></a></li>
                            <li><a href="#"><span>IT 컨설팅</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- // service_btn -->
        <section id="contents">
            <div class="title">
                <div class="inner">
                    <div class="inner_row">
                        <div class="lc_title">
                            <h2>위치기반 서비스</h2>
                            <p>선행 방문자 POI 정보 제공 서비스를 바탕으로 사용자 동선에 따른 유용한 정보 및 콘텐츠를 제공합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // title -->
            
            <section id="lc_desc">
                <div class="inner">
                    <div class="inner_row">
                        <div class="desc_box">
                            <p class="pc_text">
                                마인드올이 보유한 특허기술 기반으로 사용자가 특정위치 접근 시<br />해당 위치 관련 정보 제공하는 기술을 활용한 완성도 높은 서비스 구축을 지원합니다.</p>
                            <p class="m_text">
                                마인드올이 보유한 특허기술 기반으로 사용자가 특정위치 접근 시 해당 위치 관련 정보 제공하는 기술을 활용한 완성도 높은 서비스 구축을 지원합니다.
                            </p>
                            <figure>
                                <img src="img/location_service.png" alt="위치기반 서비스" />
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // lc_desc -->
        </section>
    </main>
</div>
<%- include ("../templates/footer.ejs") %>