@charset "utf-8";

#container-it {
    #contents {
        .title {
            padding: 0;
        }
    }
    
    /* 레이아웃 */
    #header{
        position: fixed; left: 0; top: 0; z-index: 1000;
        width: 100%;
        height: 80px;
        background: rgba(0, 0, 0, 0.4);
    }
    #main #banner{
        margin-top: 0;
        position: relative;
        width: 100%;
        height: 490px;
        background: url(./images/service_background.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    #main #banner:before{
        content: '';
        position: absolute; left: 0; top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    #main #contents{
        padding: 100px 0 165px;
    }
    
    /* 가운데 영역 */
    .inner{
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    .inner_row{
        padding: 0 16px;
    }
    
    /* header */
    nav#gnb {
      width: 100%;
      transition: all 1s;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      z-index: 101;
      height: 80px; }
      nav#gnb .container #gnb-brand {
        float: left;
        line-height: 80px; }
      nav#gnb .container #gnb-nav {
        float: right; }
        nav#gnb .container #gnb-nav ul li {
          display: inline-block;
          line-height: 80px; }
          nav#gnb .container #gnb-nav ul li:not(:last-child) {
            margin-right: 15px; }
          nav#gnb .container #gnb-nav ul li a {
            font-size: 1.2rem;
            transition: all .3s;
            color: white;
            font-weight: bold;
            border-bottom: 1px solid transparent; }
            nav#gnb .container #gnb-nav ul li a:hover {
              text-decoration: none;
              border-bottom: 1px solid white; }
      nav#gnb .container #gnb-hamburger {
        display: none; }
    
    /* main - 배너 */
    .banner_textBox{
        padding-top: 170px;
        text-align: center;
        color: #fff;
    }
    .banner_textBox .banner_title{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        margin-bottom: 30px;
    }
    .banner_textBox .banner_text{
        font-size: 1.8rem;
        letter-spacing: -1.25px;
        color: white;
        margin-bottom: 0;
    }
    
    /* main - 서비스 버튼 */
    .service_btn {
        padding: 25px 0;
    }
    .service_btn ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
    }
    .service_btn ul li{
        display: inline-block;
        width: 20%;
        text-align: center;
        height: 20px;
        &:not(:last-child) {
            border-right: 1px solid #333;
        }
        &.active {
            a span {
                color: #3CDBED;
                border-bottom: 1px solid #3CDBED;
            }
        }
    }
    .service_btn ul li {
        a {
            position: relative;
            top: -3px;
            line-height: 20px;
            font-size: 1.2rem;
            font-weight: bolder;
            padding-bottom: 3px;
            transition: all .3s;
            border-bottom: 1px solid transparent;
            &:hover {
                color: inherit;
            }
        }
    }
    
    /* main - 컨텐츠 제목 */
    .it_title{
        overflow: hidden;
    }
    .it_title h2{
        float: left;
        width: 23%;
        margin-right: 0%;
        font-size: $title;
        font-weight: 700;
        text-align: left;
    }
    .it_title p{
        float: left;
        width: 77%;
        padding-top: 4px;
        font-size: $subtitle;
        text-align: left;
        margin: 0;
    }
    
    /* main - 컨설팅 */
    .consulting{
    /*    padding: 65px 0;*/
    }
    .consulting_box ul{
        overflow: hidden;
        padding: 50px 0;
    }
    .consulting_box ul li{
        float: left;
        position: relative;
        width: 29%;
        padding-top: calc(29% - 0px);
        margin-right: 6.5%;
        text-align: center;
        border-radius: 100%;
        
    }
    .consulting_box ul li:before{
        content: '';
        position: absolute; left: 0; top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 100%;
    }
    .consulting_box ul .cb1{
        background: url(./img/serviceIT001.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .consulting_box ul .cb2{
        background: url(./img/serviceIT002.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .consulting_box ul .cb3{
        background: url(./img/serviceIT003.png) no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .consulting_box ul li:last-child{
        margin-right: 0;
    }
    .consulting_box ul span{
        display: block;
        position: absolute; left: 50%; top: 50%;
        transform: translate(-50%, -50%);
         width: 100%;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
    }
    .consulting_box ul .two_lines{
        transform: translate(-50%, -30%);
    }
    
    /* main - it text */
    .it_text{
        padding-top: 40px;
        font-size: 20px;
    }
    .it_text p {
        font-size: $subtitle;
    }
    
    /* footer */
    #footer {
      background-color: #111; }
      #footer .container {
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 30px; }
        #footer .container #footer-sitemap {
          float: left; }
          #footer .container #footer-sitemap > ul > li {
            display: inline-block;
            vertical-align: top;
            width: 100px; }
            #footer .container #footer-sitemap > ul > li:not(:last-child) {
              margin-right: 15px; }
            #footer .container #footer-sitemap > ul > li > a {
              display: inline-block;
              margin-bottom: 10px;
              color: white;
              font-weight: bold; }
              #footer .container #footer-sitemap > ul > li > a:hover {
                text-decoration: none; }
            #footer .container #footer-sitemap > ul > li > ul > li {
              margin-bottom: 3px; }
              #footer .container #footer-sitemap > ul > li > ul > li > a {
                font-size: .8rem;
                color: white;
                letter-spacing: -2px; }
                #footer .container #footer-sitemap > ul > li > ul > li > a:hover {
                  text-decoration: underline; }
        #footer .container #footer-brand {
          float: right; }
          #footer .container #footer-brand #footer-brand-logo {
            overflow: hidden;
            margin-bottom: 10px; }
            #footer .container #footer-brand #footer-brand-logo img {
              float: right; }
          #footer .container #footer-brand #footer-brand-address p {
            line-height: 150%;
            text-align: right;
            margin-bottom: 0;
            color: white; }
    
    
    /* 미디어쿼리 */
    @media (max-width: 1199px){
        .inner{
            width: 100%;
        }
        .it_title h2{
            width: 100%;
            float: none;
            margin-bottom: 20px;
        }
        .it_title p{
            width: 100%;
            float: none;
            margin-bottom: 30px;
        }
        
        #contact #contact-container {
        width: 80%; }
      #footer .container #footer-sitemap {
        float: none; }
        #footer .container #footer-sitemap ul {
          text-align: center; }
      #footer .container #footer-brand {
        float: none; }
        #footer .container #footer-brand #footer-brand-logo {
          text-align: center; }
          #footer .container #footer-brand #footer-brand-logo img {
            float: none; }
        #footer .container #footer-brand #footer-brand-address p {
          text-align: center; }
    }
    
    @media (max-width: 991px){
        .service_btn {
            .inner {
                .inner_row {
                    ul {
                        li {
                            width: 25%;
                            a {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        nav#gnb .container #gnb-nav {
        display: none; }
      nav#gnb .container #gnb-hamburger {
        display: block;
        float: right; }
        nav#gnb .container #gnb-hamburger a i {
          line-height: 80px;
          color: white;
          font-size: 2rem; }
        nav#gnb .container #gnb-hamburger ul {
          position: absolute;
          top: 80px;
          left: 0;
          z-index: 1;
          width: 100vw;
          display: none;
          background-color: rgba(0, 0, 0, 0.5); }
          nav#gnb .container #gnb-hamburger ul li {
            text-align: center;
            margin-bottom: 15px; }
            nav#gnb .container #gnb-hamburger ul li a {
              color: white;
              font-size: 1.5rem;
              border-bottom: 1px solid transparent;
              transition: all .3s; }
              nav#gnb .container #gnb-hamburger ul li a:hover {
                text-decoration: none;
                border-bottom: 1px solid white; }
        
        .consulting_box ul span{
            font-size: 26px;
        }
    }
    
    @media (max-width: 767px){
        .service_btn {
            .inner {
                .inner_row {
                    ul {
                        li {
                            height: 20px;
                            width: 30%;
                            a {
                                position: relative;
                                top: -5px;
                                width: 90%;
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
        #header{
            height: 60px;
        }
        nav#gnb{
            height: 60px;
        }
        nav#gnb .container #gnb-brand{
            line-height: 60px;
        }
        nav#gnb .container #gnb-hamburger a i{
            line-height: 60px;
        }
        nav#gnb .container #gnb-hamburger ul{
            top: 60px;
        }
        #main #banner{
            height: 360px;
        }
        .banner_textBox{
            padding-top: 145px;
        }
        .banner_textBox .banner_title{
            font-size: 3rem;
        }
        .banner_textBox .banner_text{
            max-width: 72%;
            margin: 20px auto 0;
            font-size: 1.2rem;
        }
        #main #contents{
            padding: 70px 0 135px;
        }
        .service_btn ul {
            overflow: hidden;
        }
        .service_btn ul li{
            float: left;
            width: 33%;
            margin-right: 0;
        }
        .service_btn ul li.lines:after{
            right: 0;
        }
        .it_title{
            overflow: visible;
            height: 110px;
            padding-bottom: 22px;
        }
        .it_title h2{
            float: none;
            width: 100%;
            font-size: 28px;
        }
        .it_title p{
            float: none;
            width: 100%;
            padding-top: 10px;
            
        }
        .consulting_box ul{
            padding: 35px 0 45px 0;
            text-align: center;
        }
        .consulting_box ul li{
            float: none;
            width: 55%;
            padding-top: calc(55% - 0px);
            margin: 45px auto;
        }
        .consulting_box ul li:last-child{
            margin-right: auto;
        }
        .consulting_box ul span{
            font-size: 24px;
        }
        #footer .container #footer-sitemap {
        display: none; }
    }
    
    @media (max-width: 575px){
        .service_btn {
            .inner {
                .inner_row {
                    ul {
                        li {
                            a {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
        #main #banner{
            height: 240px;
        }
        .banner_textBox{
            padding-top: 123px;
        }
        .banner_textBox .banner_title{
            font-size: 2.5rem;
        }
        .banner_textBox .banner_text{
            display: none;
        }
        .service_btn ul li a{
            padding: 12px 0;
        }
        .service_btn ul li.lines:after{
            right: 0;
            top: 19px;
        } 
        .service_btn ul li span{
            font-size: 11px;
        }
        #main #contents{
            padding: 40px 0 84px;
        }
        .it_title{
            height: 84px;
            padding: 0 0 22px 15px;
            box-sizing: content-box;
        }
        .it_title h2{
            font-size: 24px;
        }
        .it_title p{
            font-size: 12px;
        }
        .consulting_box ul{
            padding: 20px 0 0 0;
        }
        .consulting_box ul li{
            margin: 0 auto 30px;
        }
        .consulting_box ul span{
            font-size: 20px;
            font-weight: 700;
        }
        .it_text{
            padding-top: 0;
        }
        .it_text p{
            max-width: 85%;
            margin: 0 auto;
            font-size: 12px;
        }
        
    }
}