// Import other stylesheets...
@import "./service.scss";

// Importing fonts...
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700&display=swap&subset=korean');

// Basic settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    border: 0;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}
html, body {
    overflow-x: hidden;
    font-size: 18px;
}

// Header
header#header {
    height: 800px;
}

// GNB (Global Navigation Bar)
nav#gnb {
    width: 100%;
    transition: all 1s;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 16;
    height: 80px;
    .container {
        #gnb-brand {
            float: left;
            line-height: 80px;
        }
        #gnb-nav {
            float: right;
            ul {
                li {
                    display: inline-block;
                    line-height: 80px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a {
                        font-size: 1.2rem;
                        transition: all .3s;
                        color: white;
                        font-weight: bold;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
        #gnb-hamburger {
            display: none;
        }
    }
}

// Bootstrap Carousel
.carousel-inner {
    height: 50%;
    .carousel-item {
        position: relative;
        overflow: hidden;
        .dark-filter {
            position: absolute;
            background-color: rgba(0, 0, 0, .5);
            height: 100%;
        }
        img {
            width: 1920px;
            height: 700px;
        }
    }
}
.carousel-content {
    padding: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 500px;
    h2 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 30px;
    }
    p {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .carousel-buttons {
        position: absolute;
        bottom: 50px;
        right: 50px;
        a {
            padding: 10px 20px;
            font-size: 1.5rem;
            color: white;
            display: inline-block;
            font-weight: bold;
            &.detail {
                margin-right: 30px;
                background-color: rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &.inquire {
                border: 1px solid rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &.solution {
                background-color: rgba(60, 219, 237, 0.5);
                transition: all .3s;
                &:hover {
                    background-color: rgba(60, 219, 237, 1);
                }
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Primary business sectors
#sectors {
    margin-bottom: 100px;
    #sectors-header {
        text-align: center;
        margin-bottom: 50px;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        p {
            line-height: 150%;
            font-size: 1.2rem;
        }
    }
    #sectors-content {
        width: 1140px;
        margin: auto;
        .sector-alpha {
            position: relative;
            height: 500px;
            .sector-left {
                position: absolute;
                left: 0;
                width: 50%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .sector-right {
                padding: 50px 60px;
                background-color: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 125px;
                right: 0;
                width: 55%;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
                h4 {
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 30px;
                    color: #777;
                }
                a {
                    display: inline-block;
                    padding: 10px 30px;
                    border: 1px solid #333;
                    color: inherit;
                    transition: all .3s;
                    &:hover {
                        text-decoration: none;
                        background-color: #3CDBED;
                        border: 1px solid #3CDBED;
                        color: white;
                    }
                }
            }
        }
        .sector-beta {
            position: relative;
            height: 500px;
            .sector-left {
                position: absolute;
                padding: 50px 60px;
                left: 0;
                top: 125px;
                z-index: 1;
                width: 55%;
                background-color: rgba(255, 255, 255, 0.8);
                box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
                h4 {
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 30px;
                    color: #777;
                }
                a {
                    display: inline-block;
                    padding: 10px 30px;
                    border: 1px solid #333;
                    color: inherit;
                    transition: all .3s;
                    &:hover {
                        text-decoration: none;
                        background-color: #3CDBED;
                        border: 1px solid #3CDBED;
                        color: white;
                    }
                }
            }
            .sector-right {
                position: absolute;
                right: 0;
                width: 50%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// Current technologies
#technologies {
    margin-bottom: 100px;
    padding: 50px 0;
    background-color: #EEE;
    #technologies-header {
        text-align: center;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
    }
    #technologies-content {
        .container {
            position: relative;
            ul {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    width: 15.83%;
                    height: auto;
                    &:not(:last-child) {
                        margin-right: 1%;
                    }
                    .technologies-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        i {
                            font-size: 4rem;
                            margin-bottom: 15px;
                        }
                        img {
                            height: 64px;
                            width: auto;
                            margin-bottom: 15px;
                        }
                        p {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
#technologies-slider {
    margin-bottom: 100px;
    display: none;
    background-color: lightgray;
    #technologies-slider-header {
        padding-top: 30px;
        h3 {
            font-size: 2.5rem;
            font-weight: bolder;
            text-align: center;
        }
    }
    .container {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    height: 300px;
                    position: relative;
                    img {
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        top: 15%;
                    }
                }
            }
        }
    }
}

// Portfolios
#portfolios {
    margin-bottom: 100px;
    #portfolios-header {
        margin-bottom: 30px;
        text-align: center;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        h4 {
            font-weight: bold;
        }
    }
    #portfolios-filters {
        margin-bottom: 30px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                a {
                    line-height: 160%;
                    color: #333;
                    font-weight: bold;
                    font-size: 1.2rem;
                    border-bottom: 2px solid transparent;
                    transition: all .3s;
                    &:hover {
                        text-decoration: none;
                        border-bottom: 1px solid #333;
                    }
                }
                &.active {
                    a {
                        border-bottom: 2px solid #333;
                    }
                }
            }
        }
    }
    #portfolios-items {
        .container {
            .row {
                & > div {
                    padding: 30px;
                    .portfolio {
                        position: relative;
                        width: 320px;
                        height: 320px;
                        img {
                            width: 320px;
                            height: 320px;
                            position: absolute;
                            width: 100%;
                            height: auto;
                        }
                        .hovered {
                            padding: 20px;
                            opacity: 0;
                            width: 320px;
                            height: 320px;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: rgba(0, 0, 0, .5);
                            text-align: center;
                            p.portfolio-title {
                                color: white;
                                font-size: 1.5rem;
                                margin-bottom: 10px;
                            }
                            p.portfolio-description {
                                font-size: 1.2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
#portfolios-slider {
    display: none;
    margin-bottom: 80px;
    #portfolios-slider-header {
        width: 80%;
        margin: auto;
        text-align: center;
        h3 {
            font-size: 1.75rem;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.5rem;
        }
    }
    #portfolios-slider-category {
        ul {
            text-align: center;
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                a {
                    font-weight: bold;
                    border-bottom: 3px solid transparent;
                    color: inherit;
                    font-size: 1.2rem;
                    transition: all .3s;
                    &:hover {
                        border-bottom: 1px solid #333;
                        text-decoration: none;
                    }
                }
                &.active {
                    a {
                        border-bottom: 3px solid #333;
                    }
                }
            }
        }
    }
    #portfolios-slider-carousel {
        & > div {
            display: none;
            .container {
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            position: relative;
                            img {
                                position: absolute;
                                width: 400px;
                                height: 400px;
                                top: 5%;
                            }
                        }
                    }
                    .carousel-control-prev {
                        .carousel-control-prev-icon {
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
                        }
                    }
                    .carousel-control-next {
                        .carousel-control-next-icon {
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
                        }
                    }
                    .carousel-indicators {
                        li {
                            background-color: #333;
                        }
                    }
                }
            }
        }
        #portfolios-solution {
            .container {
                text-align: center;
                img {
                    width: 720px;
                    height: 720px;
                }
                h5 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// Clients
#clients {
    padding: 80px 0;
    background-color: #EEE;
    #clients-header {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            font-weight: bolder;
        }
    }
    #clients-list {
        ul {
            text-align: center;
            li {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 15px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
                img {
                    height: 40px;
                    width: auto;
                }
            }
        }
    }
}
#clients-slider {
    background-color: lightgray;
    display: none;
    padding: 30px 0;
    #clients-slider-header {
        padding-top: 30px;
        h3 {
            font-weight: bolder;
            font-size: 1.75rem;
            text-align: center;
        }
    }
    #clients-slider-carousel {
        .container {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        height: 300px;
                        position: relative;
                        img {
                            position: absolute;
                            top: 30%;
                            height: 100px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

// Contact
#contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("./images/contact_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    #contact-header {
        text-align: center;
        margin-bottom: 50px;
        h3 {
            font-weight: bolder;
            margin-bottom: 30px;
            color: white;
        }
        p {
            font-size: 1.2rem;
            color: white;
        }
    }
    #contact-content {
        text-align: center;
        #contact-email {
            display: inline-block;
            vertical-align: top;
            margin-right: 150px;
            text-align: center;
            i {
                font-size: 5rem;
                margin-bottom: 20px;
                color: white;
            }
            p {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 1.5rem;
                color: white;
            }
            a {
                color: white;
                font-size: 1.2rem;
            }
        }
        #contact-phone {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            i {
                font-size: 5rem;
                margin-bottom: 20px;
                color: white;
            }
            p#contact-phone-title {
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 10px;
                color: white;
            }
            p#contact-phone-number {
                font-size: 1.2rem;
                font-weight: normal;
                color: white;
            }
        }
    }
}

// Footer
#footer {
    background-color: #111;
    .container {
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 30px;
        #footer-sitemap {
            float: left;
            & > ul {
                & > li {
                    display: inline-block;
                    vertical-align: top;
                    width: 120px;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    & > a {
                        display: inline-block;
                        margin-bottom: 10px;
                        color: white;
                        font-size: 1.2rem;
                        font-weight: bold;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    & > ul {
                        & > li {
                            margin-bottom: 3px;
                            & > a {
                                color: white;
                                letter-spacing: -2px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        #footer-brand {
            float: right;
            #footer-brand-logo {
                overflow: hidden;
                margin-bottom: 10px;
                img {
                    float: right;
                }
            }
            #footer-brand-address {
                p {
                    letter-spacing: -2px;
                    line-height: 150%;
                    text-align: right;
                    margin-bottom: 0;
                    color: white;
                }
            }
        }
    }
}

// Media query (max-width: 1200px)
@media screen and (max-width: 1199px) {
    #header {
        height: 850px;
    }
    #portfolios {
        #portfolios-items {
            .container {
                .row {
                    & > div {
                        .portfolio {
                            img {
                                left: 50px;
                            }
                            .hovered {
                                left: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 800px;
                margin: auto;
            }
        }
        #sectors-content {
            width: 960px;
        }
    }
    #clients {
        #clients-list {
            ul {
                li:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
    .carousel-content {
        top: 65%;
        .carousel-buttons {
            bottom: 180px;
            a {
                padding: 8px 20px;
            }
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    #footer {
        .container {
            #footer-sitemap {
                float: none;
                ul {
                    text-align: center;
                }
            }
            #footer-brand {
                float: none;
                #footer-brand-logo {
                    text-align: center;
                    img {
                        float: none;
                    }
                }
                #footer-brand-address {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Media query (max-width: 992px)
@media screen and (max-width: 991px) {
    header#header {
        height: 650px;
    }
    nav#gnb {
        .container {
            #gnb-nav {
                display: none;
            }
            #gnb-hamburger {
                display: block;
                float: right;
                a {
                    i {
                        line-height: 80px;
                        color: white;
                        font-size: 2rem;
                    }
                }
                ul {
                    position: absolute;
                    top: 80px;
                    left: 0;
                    z-index: 1;
                    width: 100vw;
                    display: none;
                    background-color: rgba(0, 0, 0, .5);
                    li {
                        text-align: center;
                        margin-bottom: 15px;
                        a {
                            color: white;
                            font-size: 1.5rem;
                            border-bottom: 1px solid transparent;
                            transition: all .3s;
                            &:hover {
                                text-decoration: none;
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                }
            }
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 600px;
                margin: auto;
            }
        }
        #sectors-content {
            width: 720px;
            .sector-alpha {
                height: 600px;
                .sector-left {
                    position: static;
                    width: 80%;
                    margin: auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .sector-right {
                    top: 220px;
                    width: 100%;
                    text-align: center;
                }
            }
            .sector-beta {
                height: 600px;
                .sector-left {
                    top: 220px;
                    width: 100%;
                    text-align: center;
                }
                .sector-right {
                    position: static;
                    width: 80%;
                    margin: auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .carousel-inner {
        .carousel-item {
            height: 550px;
            overflow: hidden;
            position: relative;
            .dark-filter {
                z-index: 1;
                height: 700px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
            img {
                height: 700px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
            .carousel-content {
                position: relative;
                z-index: 2;
            }
        }
    }
    .carousel-content {
        text-align: center;
        top: 60%;
        .carousel-buttons {
            position: static;
            a {
                padding: 8px 20px;
            }
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    #portfolios {
        display: none;
    }
    #portfolios-slider {
        display: block;
        #portfolios-slider-carousel {
            #portfolios-all {
                display: block;
            }
        }
    }
    #clients {
        display: none;
    }
    #clients-slider {
        display: block;
    }
}

// Media query (max-width: 767px)
@media screen and (max-width: 767px) {
    header#header {
        height: 500px;
    }
    .carousel-inner {
        .carousel-item {
            height: 400px;
        }
    }
    .carousel-content {
        top: 90%;
        .carousel-buttons {
            display: none;
        }
        h2 {
            font-size: 1.5rem;
        }
        p {
            display: none;
        }
    }
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 500px;
                margin: auto;
            }
        }
        #sectors-content {
            width: 100%;
            .sector-alpha {
                height: 60vw;
                .sector-left {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .sector-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    left: 50% !important;
                    transform: translateX(-50%);
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 52vw;
                }
            }
            .sector-beta {
                height: 60vw;
                .sector-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    left: 50% !important;
                    transform: translateX(-50%);
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 52vw;
                }
                .sector-right {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    #technologies {
        display: none;
    }
    #technologies-slider {
        display: block;
    }
    #contact {
        #contact-header {
            width: 80%;
            margin: auto;
        }
        #contact-content {
            #contact-email {
                display: block;
                margin: 0;
                margin-bottom: 50px;
                i {
                    font-size: 8rem;
                }
            }
            #contact-phone {
                display: block;
                i {
                    font-size: 8rem;
                }
            }
        }
    }
    #clients-slider {
        #clients-slider-carousel {
            .container {
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            img {
                                height: 80px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    #portfolios-slider-carousel {
        & > div {
            .container {
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            img {
                                width: 300px !important;
                                height: 300px !important;
                                top: -3% !important;
                            }
                            .carousel-caption {
                                display: block !important;
                                p {
                                    letter-spacing: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #portfolios-solution {
            .container {
                img {
                    width: 540px !important;
                    height: 540px !important;
                }
            }
        }
    }
    #footer {
        .container {
            #footer-sitemap {
                display: none;
            }
        }
    }
}

// Media query (max-width: 576px)
@media screen and (max-width: 575px) {
    #sectors {
        #sectors-header {
            p {
                font-size: 1.5rem;
                width: 90%;
                margin: auto;
            }
        }
        #sectors-content {
            .sector-alpha {
                .sector-left {
                }
                .sector-right {
                    height: 53vw;
                    padding: 30px;
                    h4 {
                        margin-bottom: 20px;
                    }
                    p {
                        display: none;
                    }
                }
            }
            .sector-beta {
                .sector-left {
                    height: 53vw;
                    padding: 30px;
                    h4 {
                        margin-bottom: 20px;
                    }
                    p {
                        display: none;
                    }
                }
                .sector-right {
                }
            }
        }
    }
    #clients-slider {
        #clients-slider-carousel {
            .container {
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            height: 200px;
                            img {
                                height: 60px;
                                width: auto;
                                top: 35%;
                            }
                        }
                    }
                }
            }
        }
    }
    #portfolios-slider {
        #portfolios-slider-carousel {
            & > div {
                .container {
                    .carousel {
                        .carousel-inner {
                            .carousel-item {
                                img {
                                    width: 60% !important;
                                    height: auto !important;
                                    top: 5% !important;
                                }
                            }
                        }
                    }
                }
            }
            #portfolios-solution {
                .container {
                    img {
                        width: 80% !important;
                        height: auto !important;
                    }
                }
            }
        }
    }
}