// Portfolio header
#header-portfolio {
    background-image: url("./images/about_background.jpg");
    background-size: cover;
    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: bolder;
            color: white;
            font-size: 3rem;
        }
    }
}