// Portfolio header
#header-portfolio {
    background-image: url("./images/about_background.jpg");
    background-size: cover;
    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: bolder;
            color: white;
            font-size: 3rem;
            margin-bottom: 30px;
        }
        p {
            color: white;
            font-size: 1.5rem;
        }
    }
}

// Portfolios (annexed)
#portfolios.annexed {
    padding-bottom: 165px;
    #portfolios-header {
        text-align: left;
        .container {
            h3 {
                font-weight: normal;
            }
        }
    }
    #portfolios-items {
        .container {
            .row {
                & > div {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .portfolio {
                        position: static;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        img {
                            position: static;
                        }
                        p.subtitle {
                            position: static;
                            bottom: auto;
                            margin-top: -32px;
                        }
                        p.subdescription {
                            position: static;
                            margin-bottom: 0;
                            text-align: center;
                        }
                        .hovered {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    #header-portfolio {
        .container {
            p {
                display: none;
            }
        }
    }
    #portfolios.annexed {
        padding: 50px 0;
        #portfolios-header {
            .container {
                span.superbar {
                    display: none;
                }
                h3 {
                    text-align: center !important;
                    font-size: $subtitle;
                }
            }
        }
        #portfolios-items {
            .container {
                .row {
                    & > div {
                        .portfolio {
                            margin-bottom: 30px;
                            p.subtitle {
                                font-size: $small;
                            }
                            p.subdescription {
                                font-size: $small;
                            }
                        }
                    }
                }
            }
        }
    }
}