<%- include ("../templates/header.ejs") %>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">연혁</a>
        </li>
        <li class="active">
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li>
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<section id="areas">
    <div id="areas-header">
        <div class="container">
            <h3>사업 분야</h3>
        </div>
    </div>
    <div id="areas-content">
        <div class="container">
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area1.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">WEB/APP SERVICE</p>
                    <p class="title">WEB/APP 서비스</p>
                    <p class="subtitle">고객 환경에 맞는 최적의 진단, 설계, 개발을 통해 최상의 서비스 제공</p>
                    <p class="content">기업과 공공 고유의 비즈니스 니즈를 충족하고 변화에 빠르게 대응하는 최적의 애플리케이션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
            <div class="area-beta">
                <div class="area-content">
                    <p class="supertitle">POI SERVICE</p>
                    <p class="title">위치 기반 서비스</p>
                    <p class="subtitle">사용자 동선에 따른 유용한 정보 및 컨텐츠 제공</p>
                    <p class="content">자체 서비스를 통해 사용자 동선에 따른 유용한 정보 및 컨텐츠를 제공합니다. (특허 보유)</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
                <div class="area-image">
                    <img src="./images/area2.jpg" alt="Business Area Image">
                </div>
            </div>
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area3.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">IT CONSULTING</p>
                    <p class="title">IT 컨설팅</p>
                    <p class="subtitle">고객의 경쟁력과 가치 강화를 위한 차별화된 컨설팅 제공</p>
                    <p class="content">다양한 분야의 경험을 바탕으로 성공적인 비즈니스를 위해 전문적인 컨설팅 서비스를 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
            <div class="area-beta">
                <div class="area-content">
                    <p class="supertitle">AI SOLUTION</p>
                    <p class="title">인공지능 솔루션</p>
                    <p class="subtitle">사용자 동선에 따른 유용한 정보 및 컨텐츠 제공</p>
                    <p class="content">보다 높은 정확도의 이미지, 영상 분석 처리 AI(인공지능) 솔루션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
                <div class="area-image">
                    <img src="./images/area4.jpg" alt="Business Area Image">
                </div>
            </div>
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area5.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">TRA CONSULTING</p>
                    <p class="title">교통 솔루션</p>
                    <p class="subtitle">고객의 경쟁력과 가치 강화를 위한 차별화된 컨설팅 서비스 제공</p>
                    <p class="content">웹 기반 노선도 개발 플랫폼을 통해 차별화된 교통 솔루션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include ("../templates/footer.ejs") %>