<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <div class="container">
        <ul>
            <li>
                <a href="#">회사소개</a>
            </li>
            <li>
                <a href="#">연혁</a>
            </li>
            <li class="active">
                <a href="#">사업분야</a>
            </li>
            <li>
                <a href="#">오시는 길</a>
            </li>
        </ul>
    </div>
</nav>
<section id="areas">
    <div id="areas-header">
        <div class="container">
            <span class="superbar">-</span>
            <h3>사업 분야</h3>
        </div>
    </div>
    <div id="areas-content">
        <div class="container">
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area1.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">WEB/APP SERVICE</p>
                    <p class="title">WEB/APP 서비스</p>
                    <p class="subtitle">고객 환경에 맞는 최적의 진단, 설계, 개발을 통해 최상의 서비스 제공</p>
                    <p class="content">기업과 공공 고유의 비즈니스 니즈를 충족하고 변화에 빠르게 대응하는 최적의 애플리케이션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
            <div class="area-beta">
                <div class="area-content">
                    <p class="supertitle">POI SERVICE</p>
                    <p class="title">위치 기반 서비스</p>
                    <p class="subtitle">사용자 동선에 따른 유용한 정보 및 컨텐츠 제공</p>
                    <p class="content">자체 서비스를 통해 사용자 동선에 따른 유용한 정보 및 컨텐츠를 제공합니다. (특허 보유)</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
                <div class="area-image">
                    <img src="./images/area2.jpg" alt="Business Area Image">
                </div>
            </div>
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area3.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">IT CONSULTING</p>
                    <p class="title">IT 컨설팅</p>
                    <p class="subtitle">고객의 경쟁력과 가치 강화를 위한 차별화된 컨설팅 제공</p>
                    <p class="content">다양한 분야의 경험을 바탕으로 성공적인 비즈니스를 위해 전문적인 컨설팅 서비스를 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
            <div class="area-beta">
                <div class="area-content">
                    <p class="supertitle">AI SOLUTION</p>
                    <p class="title">인공지능 솔루션</p>
                    <p class="subtitle">사용자 동선에 따른 유용한 정보 및 컨텐츠 제공</p>
                    <p class="content">보다 높은 정확도의 이미지, 영상 분석 처리 AI(인공지능) 솔루션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
                <div class="area-image">
                    <img src="./images/area4.jpg" alt="Business Area Image">
                </div>
            </div>
            <div class="area-alpha">
                <div class="area-image">
                    <img src="./images/area5.jpg" alt="Business Area Image">
                </div>
                <div class="area-content">
                    <p class="supertitle">TRA CONSULTING</p>
                    <p class="title">교통 솔루션</p>
                    <p class="subtitle">고객의 경쟁력과 가치 강화를 위한 차별화된 컨설팅 서비스 제공</p>
                    <p class="content">웹 기반 노선도 개발 플랫폼을 통해 차별화된 교통 솔루션을 제공합니다.</p>
                    <a class="more-button" href="#">SEE MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="#">서비스</a>
                    <ul>
                        <li>
                            <a href="#">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="#">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="#">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">솔루션</a>
                    <ul>
                        <li>
                            <a href="#">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="#">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li>
                            <a href="#">소개</a>
                        </li>
                        <li>
                            <a href="#">연혁</a>
                        </li>
                        <li>
                            <a href="#">사업분야</a>
                        </li>
                        <li>
                            <a href="#">보유기술</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="swiper.min.js"></script>
<script src="script.js"></script>
</body>
</html>