<%- include ("../templates/header.ejs") %>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li class="active">
            <a href="#">연혁</a>
        </li>
        <li>
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li>
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<div id="chronicle">
    <div class="container">
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 행정포털시스템 유지관리 용역 (수행중)</p>
                        <p>서울시 공공앱 운영관리 용역 (수행중)</p>
                    </div>
                    <span class="cd-date">2020</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>5</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>국방아키텍처(ARMS) 1.5 성능 개량 사업</p>
                        <p>서울시 보도지원시스템 구축 용역</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 공공앱 운영관리 용역</p>
                    </div>
                    <span class="cd-date">2019</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>12</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>수화물 보관 배송 서비스 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>11</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>창업 성장 과제 - 글로벌 노선도 플랫폼 서비스 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 모바일서울 운영 및 유지 관리</p>
                        <p>서울시 공공앱 운영 관리 용역</p>
                    </div>
                    <span class="cd-date">2018</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>12</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>국방아키텍처(ARMS) 1.2 성능 개량 사업</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>7</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>차세대 연합뉴스 모바일 앱 구축</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>5</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 유무선 (홈페이지, 모바일서울) 통합 ISP</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>2</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>정보통신공사업 면허 등록</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>아주산업 골재 입출고 관리 시스템 개발</p>
                        <p>서울시 공공앱 운영 관리 용역</p>
                        <p>서울시 모바일서울 운영 및 유지 관리 용역</p>
                    </div>
                    <span class="cd-date">2017</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>12</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 모바일서울 운영 및 유지 관리 용역 수주</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>10</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>아주산업 GPS 웹, 모바일 관제 시스템 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>7</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>아주저축은행 대출 앱 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>6</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 박물관, 미술관 유지 관리 용역 수행</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>4</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>기술보증기금(KIBO) 벤처기업확인서 인증</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>2</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 모바일서울 운영 및 유지 관리 용역 수행</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울미래유산 홈페이지 운영 및 유지 보수 용역 수행</p>
                    </div>
                    <span class="cd-date">2016</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>8</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울시 박물관 및 미술관 통합 홈페이지 개발 및 운영 사업 용역 수행</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>7</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>(주)KIC시스템 자산 관리 앱 개발</p>
                        <p>119 스마트 충전 서비스 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>3</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>서울미래유산 홈페이지 유지 보수 용역 수행</p>
                    </div>
                    <span class="cd-date">2015</span>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="images/favicon_white.png" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <div class="cd-timeline-content-month">
                        <h2>9</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>차세대 버스 정보 시스템 솔루션 S/W 개발 및 서버 성능 보강 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>5</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>광주광역시 UTIS 모바일 앱 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>3</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>성화택배 물류 앱 개발</p>
                    </div>
                    <div class="cd-timeline-content-month">
                        <h2>1</h2>
                    </div><!--
                 --><div class="cd-timeline-content-detail">
                        <p>풀무원 운송 자원 관리 시스템 앱 개발</p>
                    </div>
                    <span class="cd-date">2014</span>
                </div>
            </div>
        </section> <!-- cd-timeline -->
    </div>
</div>
<%- include ("../templates/footer.ejs") %>