<%- include ("../templates/header.ejs") %>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>(주)마인드올은 IT 전문 업체로서 다년간의 프로젝트 노하우와 전문인력을 바탕으로 최고 품질의 서비스를 제공합니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">연혁</a>
        </li>
        <li>
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li>
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<%- include ("../templates/footer.ejs") %>
