<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/">
    <!-- <base href="https://nodedevelope.github.io/MindAll/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>(주)마인드올은 IT 전문 업체로서 다년간의 프로젝트 노하우와 전문인력을 바탕으로 최고 품질의 서비스를 제공합니다.</p>
    </div>
</header>
<nav id="lnb">
    <div class="container">
        <ul>
            <li class="active">
                <a href="#">회사소개</a>
            </li>
            <li>
                <a href="#">연혁</a>
            </li>
            <li>
                <a href="#">사업분야</a>
            </li>
            <li>
                <a href="#">오시는 길</a>
            </li>
        </ul>
    </div>
</nav>
<section id="introduction">
    <div id="introduction-header">
        <div class="container">
            <h2>회사 소개</h2>
            <h3>Premier IT Partner MindAll</h3>
            <p>(주)마인드올은 IT 전문업체로서 다년간의 프로젝트 노하우와 전문 인력을 바탕으로 최고 품질의 서비스를 제공합니다.</p>
            <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로, 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
        </div>
    </div>
    <div id="introduction-subheader">
        <div class="container">
            <div id="subheader-box">
                <p class="since">Since 2013</p>
                <p class="title">MindAll : at one</p>
                <p class="subtitle">고객과 하나가 되어 최고의 결과를 이끌어내는 IT 전문 기업</p>
                <p class="content">MindAll은 모두의 생각, 마음을 하나로 모아 표현하겠다는 의미를 가지고 있습니다. 고객의 입장에서 생각하고 Needs를 완벽히 파악하여 성공적인 비즈니스로 이끌어 가겠습니다.</p>
            </div>
        </div>
    </div>
</section>
<section id="values">
    <div id="values-header">
        <div class="container">
            <span class="superbar">-</span>
            <h3>핵심 가치</h3>
        </div>
    </div>
    <div id="values-content">
        <div class="value-alpha">
            <div class="container">
                <div class="value-image">
                    <img src="./images/core_value1.jpg" alt="Core Value Image">
                </div><!--
             --><div class="value-content">
                    <img src="./images/introduction_icon1.png" alt="Introduction Icon">
                    <p class="title">고객 중심</p>
                    <p class="description">고객의 Needs를 앞서 파악하고 만족시키며, 고객의 이익을 최우선으로 고려하는 자세</p>
                </div>
            </div>
        </div>
        <div class="value-beta">
            <div class="container">
                <div class="value-content">
                    <img src="./images/introduction_icon2.png" alt="Introduction Icon">
                    <p class="title">전문성 / 도전정신</p>
                    <p class="description">차별화된 서비스를 위해 다양한 경험을 축적하고 새로운 기술과 트렌드를 먼저 찾아나서는 자세</p>
                </div><!--
             --><div class="value-image">
                    <img src="./images/core_value2.jpg" alt="Core Value Image">
                </div>
            </div>
        </div>
        <div class="value-alpha">
            <div class="container">
                <div class="value-image">
                    <img src="./images/core_value3.jpg" alt="Core Value Image">
                </div><!--
             --><div class="value-content">
                    <img src="./images/introduction_icon3.png" alt="Introduction Icon">
                    <p class="title">소통 / 신뢰</p>
                    <p class="description">끊임없이 소통하고 서로간의 존중으로 쌓은 신뢰를 통해 성공적인 결과를 이끌어내는 자세</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="stacks">
    <div id="stacks-header">
        <div class="container">
            <span class="superbar">-</span>
            <h3>보유 기술</h3>
        </div>
    </div>
    <div id="stacks-content">
        <div class="container">
            <div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/html_white.png" alt="HTML Logo">
                </div>
                <div class="stack-content">
                    <p class="title">HTML5 & CSS3</p>
                    <p class="subtitle">국제 웹 표준 기구 W3C 표준화 진행</p>
                    <p class="description">상황에 맞춰 표준 및 차세대 기술을 병행 적용하는 유연한 개발</p>
                </div>
            </div><!--
            --><div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/svg_white.png" alt="SVG Logo">
                </div>
                <div class="stack-content">
                    <p class="title">D3 & SVG</p>
                    <p class="subtitle">동적이고 인터랙티브한 시각화 효과</p>
                    <p class="description">데이터 및 이미지를 보다 효과적으로 활용, 표현할 수 있는 기술</p>
                </div>
            </div><!--
            --><div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/web_white.png" alt="Web Logo">
                </div>
                <div class="stack-content">
                    <p class="title">Web & Mobile</p>
                    <p class="subtitle">전자정부 프레임워크 (Spring, Java)</p>
                    <p class="description">다양한 포트폴리오를 통한, 웹과 모바일에 최적화된 기능 제공</p>
                </div>
            </div><!--
         --><div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/jquery_white.png" alt="jQuery Logo">
                </div>
                <div class="stack-content">
                    <p class="title">jQuery & Ajax</p>
                    <p class="subtitle">디바이스 호환성에서 자유로워지는 크로스플랫폼</p>
                    <p class="description">User Request의 효율적 처리와, 빠르고 자유로운 Interactive를 위한 선택</p>
                </div>
            </div><!--
         --><div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/api_white.png" alt="API Logo">
                </div>
                <div class="stack-content">
                    <p class="title">Open API</p>
                    <p class="subtitle">기능 제어 및 컨텐츠 서비스를 위한 개방형 인터페이스</p>
                    <p class="description">웹 2.0의 근본 개념인 데이터의 개방 및 공유를 구현할 수 있는 핵심 기술</p>
                </div>
            </div><!--
         --><div class="stack">
                <div class="stack-image">
                    <img src="./images/technologies/ai_white.png" alt="AI Logo">
                </div>
                <div class="stack-content">
                    <p class="title">AI (인공지능)</p>
                    <p class="subtitle">MindTrip을 통한 인공지능 검출 서비스</p>
                    <p class="description">딥러닝 기반의 인공지능 영상분석, 처리 플랫폼</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="certification">
    <div id="certification-header">
        <div class="container">
            <span class="superbar">-</span>
            <h3>인증 내역</h3>
        </div>
    </div>
    <div id="certification-content">
        <div class="container">
            <div class="certificate">
                <div class="certificate-image">
                    <img src="./images/certificate1.jpg" alt="Certificate">
                </div>
                <div class="certificate-content">
                    <p>연구개발전담부서 보유</p>
                </div>
            </div><!--
         --><div class="certificate">
                <div class="certificate-image">
                    <img src="./images/certificate2.jpg" alt="Certificate">
                </div>
                <div class="certificate-content">
                    <p>위치기반기술 특허 보유</p>
                </div>
            </div><!--
         --><div class="certificate">
                <div class="certificate-image">
                    <img src="./images/certificate3.jpg" alt="Certificate">
                </div>
                <div class="certificate-content">
                    <p>노선도 개발 기술 특허 출원</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="#">서비스</a>
                    <ul>
                        <li>
                            <a href="#">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="#">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="#">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">솔루션</a>
                    <ul>
                        <li>
                            <a href="#">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="#">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li>
                            <a href="#">소개</a>
                        </li>
                        <li>
                            <a href="#">연혁</a>
                        </li>
                        <li>
                            <a href="#">사업분야</a>
                        </li>
                        <li>
                            <a href="#">보유기술</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="script.js"></script>
</body>
</html>
