<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="#">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">서비스</a>
                        </li>
                        <li>
                            <a href="#">솔루션</a>
                        </li>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">문의하기</a>
                        </li>
                        <li>
                            <a href="#">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">연혁</a>
        </li>
        <li>
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li class="active">
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<section id="map-section">
    <div id="map-header">
        <div class="container">
            <h3>오시는 길</h3>
        </div>
    </div>
    <!-- <div id="map-content">
        <div class="container">
            <img src="./images/map.png" alt="MindAll Location Map">
        </div>
    </div> -->
    <div id="map" style="width:100%;height:400px;"></div>
    <div id="map-detail">
        <div class="container">
            <div id="map-detail-address">
                <div id="map-detail-address-image">
                    <img src="./images/pinpoint.png" alt="Pinpoint Icon">
                </div><!--
             --><div id="map-detail-address-content">
                    <p class="title">주소</p>
                    <p class="description">서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                </div>
            </div><!--
         --><div id="map-detail-contact">
                <div id="map-detail-contact-image">
                    <img src="./images/phone.png" alt="Phone Icon">
                </div><!--
             --><div id="map-detail-contact-content">
                    <p class="title">연락처</p>
                    <p class="description">Tel. 070-4895-2988 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax. 050-4027-0391</p>
                </div>
            </div>
        </div>
    </div>
    <div id="map-subway">
        <div class="container">
            <div id="map-subway-image">
                <img src="./images/metro.png" alt="Subway Icon">
            </div>
            <div id="map-subway-content">
                <p class="title">지하철 이용 시</p>
                <p class="content">(공항철도) 디지털미디어시티역 8번 출구 보도 4분</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nw5tdwmwy5&callback=initMap"></script>
<script type="text/javascript">
    var map = null;

    function initMap() {
        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        });
    }
</script>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="#">서비스</a>
                    <ul>
                        <li>
                            <a href="#">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="#">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="#">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">솔루션</a>
                    <ul>
                        <li>
                            <a href="#">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="#">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li>
                            <a href="#">소개</a>
                        </li>
                        <li>
                            <a href="#">연혁</a>
                        </li>
                        <li>
                            <a href="#">사업분야</a>
                        </li>
                        <li>
                            <a href="#">보유기술</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="script.js"></script>
</body>
</html>