<%- include ("../templates/header.ejs") %>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">연혁</a>
        </li>
        <li>
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li class="active">
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<section id="map-section">
    <div id="map-header">
        <div class="container">
            <h3>오시는 길</h3>
        </div>
    </div>
    <div id="map-content">
        <div class="container">
            <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
    </div>
    <div id="map-detail">
        <div class="container">
            <div id="map-detail-address">
                <div id="map-detail-address-image">
                    <img src="./images/pinpoint.png" alt="Pinpoint Icon">
                </div><!--
             --><div id="map-detail-address-content">
                    <p class="title">주소</p>
                    <p class="description">서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                </div>
            </div><!--
         --><div id="map-detail-contact">
                <div id="map-detail-contact-image">
                    <img src="./images/phone.png" alt="Phone Icon">
                </div><!--
             --><div id="map-detail-contact-content">
                    <p class="title">연락처</p>
                    <p class="description">Tel. 070-4895-2988 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax. 050-4027-0391</p>
                </div>
            </div>
        </div>
    </div>
    <div id="map-subway">
        <div class="container">
            <div id="map-subway-image">
                <img src="./images/metro.png" alt="Subway Icon">
            </div>
            <div id="map-subway-content">
                <p class="title">지하철 이용 시</p>
                <p class="content">(공항철도) 디지털미디어시티역 8번 출구 보도 4분</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nw5tdwmwy5&callback=initMap"></script>
<script type="text/javascript">
    var map = null;
    var lat = 37.575751;
    var lng = 126.897504;

    function initMap() {
        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(lat, lng),
            zoom: 18,
            zoomControl: true,
            logoControl: false,
            mapDataControl: false,
            zoomOrigin: new naver.maps.LatLng(lat, lng)
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(lat, lng),
            map: map,
            animation: naver.maps.Animation.BOUNCE
        });

        var contentString = [
            "<div id='marker-info'>",
            "<img src='images/logo_invert.png' alt='MindAll Logo'/>",
            "<p>(주)마인드올</p>",
            "<p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>",
            "</div>"
        ].join('');

        var infoWindow = new naver.maps.InfoWindow({
            content: contentString
        })
        naver.maps.Event.addListener(marker, "click", function(event) {
            if(infoWindow.getMap()) {
                infoWindow.close();
            }
            else {
                infoWindow.open(map, marker);
            }
        });

        var polylineA = new naver.maps.Polyline({
            map: map,
            path: [
                new naver.maps.LatLng(37.576951, 126.898034),
                new naver.maps.LatLng(37.576623, 126.898512),
                new naver.maps.LatLng(37.576198, 126.898064),
                new naver.maps.LatLng(37.576089, 126.897881),
                new naver.maps.LatLng(37.575951, 126.897739),
                new naver.maps.LatLng(37.575798, 126.897820),
                new naver.maps.LatLng(lat, lng)
            ],
            clickable: true,
            strokeStyle: "solid",
            strokeColor: "#FF0000",
            strokeOpacity: 0.5,
            strokeWeight: 5
        });

        var polylineB = new naver.maps.Polyline({
            map: map,
            path: [
                new naver.maps.LatLng(37.575141, 126.895822),
                new naver.maps.LatLng(37.575540, 126.896208),
                new naver.maps.LatLng(37.575381, 126.896627),
                new naver.maps.LatLng(37.575058, 126.897276),
                new naver.maps.LatLng(37.575043, 126.897375),
                new naver.maps.LatLng(37.575268, 126.897536),
                new naver.maps.LatLng(37.575379, 126.897576),
                new naver.maps.LatLng(37.575566, 126.897437),
                new naver.maps.LatLng(37.575615, 126.897270),
                new naver.maps.LatLng(37.575849, 126.897364),
                new naver.maps.LatLng(lat, lng)
            ],
            clickable: true,
            strokeStyle: "solid",
            strokeColor: "#00FF00",
            strokeOpacity: 0.5,
            strokeWeight: 5
        });

        var polylineC = new naver.maps.Polyline({
            map: map,
            path: [
                new naver.maps.LatLng(37.573921, 126.897954),
                new naver.maps.LatLng(37.574254, 126.897404),
                new naver.maps.LatLng(37.574881, 126.898086),
                new naver.maps.LatLng(37.574971, 126.898064),
                new naver.maps.LatLng(37.575003, 126.897927),
                new naver.maps.LatLng(37.575001, 126.897571),
                new naver.maps.LatLng(37.575043, 126.897375),
                new naver.maps.LatLng(37.575268, 126.897536),
                new naver.maps.LatLng(37.575379, 126.897576),
                new naver.maps.LatLng(37.575566, 126.897437),
                new naver.maps.LatLng(37.575615, 126.897270),
                new naver.maps.LatLng(37.575849, 126.897364),
                new naver.maps.LatLng(lat, lng)
            ],
            clickable: true,
            strokeStyle: "solid",
            strokeColor: "#0000FF",
            strokeOpacity: 0.5,
            strokeWeight: 5
        });

        naver.maps.Event.addListener(polylineA, "mouseover", function() {
            polylineA.setOptions({
                strokeOpacity: 1,
                strokeWeight: 8
            });
        });
        naver.maps.Event.addListener(polylineA, "mouseout", function() {
            polylineA.setOptions({
                strokeOpacity: 0.5,
                strokeWeight: 5
            });
        });

        naver.maps.Event.addListener(polylineB, "mouseover", function() {
            polylineB.setOptions({
                strokeOpacity: 1,
                strokeWeight: 8
            });
        });
        naver.maps.Event.addListener(polylineB, "mouseout", function() {
            polylineB.setOptions({
                strokeOpacity: 0.5,
                strokeWeight: 5
            });
        });

        naver.maps.Event.addListener(polylineC, "mouseover", function() {
            polylineC.setOptions({
                strokeOpacity: 1,
                strokeWeight: 8
            });
        });
        naver.maps.Event.addListener(polylineC, "mouseout", function() {
            polylineC.setOptions({
                strokeOpacity: 0.5,
                strokeWeight: 5
            });
        });

        var newtownMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.575540, 126.896208),
            map: map,
            icon: "images/pin.png",
            animation: naver.maps.Animation.DROP
        });

        var huhMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.575043, 126.897375),
            map: map,
            icon: "images/pin.png",
            animation: naver.maps.Animation.DROP
        });

        var ediyaMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.575798, 126.897820),
            map: map,
            icon: "images/pin.png",
            animation: naver.maps.Animation.DROP
        });

        var newtownInfoWindow = new naver.maps.InfoWindow({
            content: "<div class='info-window'>새마을공판장</div>",
            backgroundColor: "rgba(255, 255, 255, 0.8)",
            borderWidth: 0,
            disableAnchor: true
        });
        var huhInfoWindow = new naver.maps.InfoWindow({
            content: "<div class='info-window'>Huh's Coffee</div>",
            backgroundColor: "rgba(255, 255, 255, 0.8)",
            borderWidth: 0,
            disableAnchor: true
        });
        var ediyaInfoWindow = new naver.maps.InfoWindow({
            content: "<div class='info-window'>이디야커피</div>",
            backgroundColor: "rgba(255, 255, 255, 0.8)",
            borderWidth: 0,
            disableAnchor: true
        });

        newtownInfoWindow.open(map, newtownMarker);
        huhInfoWindow.open(map, huhMarker);
        ediyaInfoWindow.open(map, ediyaMarker);
    }
</script>
<%- include ("../templates/footer.ejs") %>