<%- include ("../templates/header.ejs") %>
<header id="header-about">
    <div class="container">
        <h1>ABOUT US</h1>
        <p>IT 컨설팅, 애플리케이션 개발, 시스템 구축 및 운영, 최신 기술 솔루션을 기반으로 공공, 국방, 민간 등 다양한 영역에서 최상의 서비스를 제공하고 있습니다.</p>
    </div>
</header>
<nav id="lnb">
    <ul>
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">연혁</a>
        </li>
        <li>
            <a href="#">사업분야</a>
        </li>
        <li>
            <a href="#">보유기술</a>
        </li>
        <li class="active">
            <a href="#">오시는 길</a>
        </li>
    </ul>
</nav>
<section id="map-section">
    <div id="map-header">
        <div class="container">
            <h3>오시는 길</h3>
        </div>
    </div>
    <div id="map-content">
        <div class="container">
            <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
    </div>
    <div id="map-detail">
        <div class="container">
            <div id="map-detail-address">
                <div id="map-detail-address-image">
                    <img src="./images/pinpoint.png" alt="Pinpoint Icon">
                </div><!--
             --><div id="map-detail-address-content">
                    <p class="title">주소</p>
                    <p class="description">서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                </div>
            </div><!--
         --><div id="map-detail-contact">
                <div id="map-detail-contact-image">
                    <img src="./images/phone.png" alt="Phone Icon">
                </div><!--
             --><div id="map-detail-contact-content">
                    <p class="title">연락처</p>
                    <p class="description">Tel. 070-4895-2988 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax. 050-4027-0391</p>
                </div>
            </div>
        </div>
    </div>
    <div id="map-subway">
        <div class="container">
            <div id="map-subway-image">
                <img src="./images/metro.png" alt="Subway Icon">
            </div>
            <div id="map-subway-content">
                <p class="title">지하철 이용 시</p>
                <p class="content">(공항철도) 디지털미디어시티역 8번 출구 보도 4분</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nw5tdwmwy5&callback=initMap"></script>
<script type="text/javascript">
    var map = null;
    var lat = 37.575800;
    var lng = 126.897515;

    function initMap() {
        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(lat, lng),
            zoom: 16,
            zoomControl: true,
            logoControl: false,
            mapDataControl: false,
            zoomOrigin: new naver.maps.LatLng(lat, lng)
        });
    }
</script>
<%- include ("../templates/footer.ejs") %>