<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158098691-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-158098691-1');
    </script>
    <meta charset="UTF-8">
    <!-- <base href="C:/Users/MindAll/Desktop/MindAll_ReNew/"> -->
    <base href="https://nodedevelope.github.io/MindAll/">
    <!-- <base href="http://221.132.89.152/hm/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Description" content="Web, HTML, CSS, Javascript, jQuery, React, Vue.js, App" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Subject" content="마인드올 - MindAll" />
    <meta http-equiv="Title" content="마인드올 - MindAll" />
    <meta http-equiv="Author" content="MindAll" />
    <meta http-equiv="Publisher" content="MindAll" />
    <meta http-equiv="Other Agent" content="MindAll" />
    <meta http-equiv="Generator" content="Balcoding" />
    <meta http-equiv="Reply-To" content="support@mindall.co.kr" />
    <meta http-equiv="Email" content="support@mindall.co.kr" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Page-Enter" content="revealtrans(Duration=1,Transition=12)" />
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>마인드올 - MindAll</title>
</head>
<body>
    <div id="wrap">
        <nav id="gnb">
            <div class="container">
                <div id="gnb-brand">
                    <a href="views/index.html">
                        <img src="images/logo.png" alt="MindAll Company Logo">
                    </a>
                </div>
                <div id="gnb-nav">
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
                <div id="gnb-hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">서비스</a>
                        </li>
                        <li>
                            <a href="views/solution/ai.html">솔루션</a>
                        </li>
                        <li>
                            <a href="views/portfolio/portfolio.html">포트폴리오</a>
                        </li>
                        <li>
                            <a href="views/contact/contact.html">문의하기</a>
                        </li>
                        <li>
                            <a href="views/about/introduction.html">회사소개</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
<header id="header-portfolio">
    <div class="container">
        <h1>PORTFOLIO</h1>
        <p>마인드올의 대표 포트폴리오를 소개합니다.</p>
    </div>
</header>
<div id="checkpoint"></div>
<section id="portfolios" class="annexed">
    <div id="portfolios-header">
        <div class="container">
            <span class="superbar">-</span>
            <h3 style="text-align: left;">포트폴리오</h3>
        </div>
    </div>
    <div id="portfolios-filters">
        <ul>
            <li class="active default">
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">Web</a>
            </li>
            <li>
                <a href="#">App</a>
            </li>
            <li>
                <a href="#">솔루션</a>
            </li>
        </ul>
    </div>
    <div id="portfolios-items">
        <div class="container">
            <div class="row">
                <!-- Rendered by jQuery -->
            </div>
        </div>
    </div>
</section>
<div style="display: none;" id="news">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>반응형 웹 서비스</strong></p>
                <p class="info">Responsive Web & CMS</p>
            </div>
            <h3>서울시 보도지원시스템</h3>
            <h4>보도자료 검색 및 활용을 위한 기자용 반응형 웹 서비스 개발</h4>
            <div class="portpolio_desc">
                <p>회원 등급별 엠바고 맞춤 게시 기능 개발</p>
                <p>상품 SW (WEB, WAS, 웹 에디터 솔루션) 도입 및 운영 환경 구축</p>
                <p>보도지원시스템 운영을 위한 관리 사이트 구축</p>
                <p>회원 관리, 자료 관리 기능 개발</p>
                <p>문자 알림 시스템 연동</p>
                <p>보도지원시스템 초기 데이터 구축</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="news""></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="bis">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>시스템 유지 보수</strong></p>
                <p class="info">System Maintenance</p>
            </div>
            <h3>서울시 BIS 버스정보시스템</h3>
            <h4>서울시 BIS 버스정보시스템 유지 보수</h4>
            <div class="portpolio_desc">
                <p>서울시 버스정보시스템의 안정적인 유지 관리</p>
                <p>시스템 유지 보수 및 운영 관리</p>
                <p>응용 S/W 운영 관리</p>
                <p>기반 정보 운영 관리 (노선 및 정류소 DB 관리)</p>
                <p>대민 서비스 프로그램 기능 개선 및 안정적 운영 관리 (서울대중교통앱, bus.go.kr, Open API 등)</p>
                <p>동일 버스 단말기에 다중 노선 탑재 운행되는 버스 정보 표출 방안 마련</p>
                <p>교차로 간 버스 속도 산출 방안 마련</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="bis"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="arms">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>시스템 고도화</strong></p>
                <p class="info">System Improvement</p>
            </div>
            <h3>국방아키텍처(ARMS) 성능 개량</h3>
            <h4>국방아키텍처(ARMS 2.0) 시스템 성능 개선</h4>
            <div class="portpolio_desc">
                <p>업무에 직접 활용할 수 있는 아키텍처 정보를 제공하여 상호운용성 업무의 효율성 향상</p>
                <p>사용자 중심의 공유 공간 (Shared Space) 운영 지원</p>
                <p>다양한 표준 메타데이터 규격 준수</p>
                <p>서비스 개념의 정보 공유 체계 구축</p>
                <p>개선된 아키텍처 메타데이터 규격 준수 저장소 제공</p>
                <p>데이터 중심 (Data-Centric) 사상 지원</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="arms"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="seoulpublictransportation">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>반응형 웹 서비스</strong></p>
                <p class="info">Responsive Web & CMS</p>
            </div>
            <h3>서울대중교통</h3>
            <h4>서울대중교통 서비스 고도화</h4>
            <div class="portpolio_desc">
                <p>대시민 실시간 교통 정보 서비스 (웹, 모바일)</p>
                <p>대시민용 교통정보 OpenAPI 개발</p>
                <p>웹 기반 실시간 버스 관제 서비스 구축</p>
                <p>관리 및 운영 시스템 구축</p>
                <p>노선별 사용 통계 시스템 구축</p>
                <p>Java, 전자 정부 프레임워크 사용</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="seoulpublictransportation"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="seoulmuseums">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>반응형 웹 서비스</strong></p>
                <p class="info">Responsive Web & CMS</p>
            </div>
            <h3>서울시 박물관·미술관</h3>
            <h4>서울시 박물관, 미술관 반응형 웹 서비스 개발</h4>
            <div class="portpolio_desc">
                <p>서울시 박물관·미술관 서비스 관리 시스템 구축</p>
                <p>지도 기반 지역별, 분야별 박물관 메뉴 개발</p>
                <p>박물관 미술관 DB 구축 및 관리 페이지 개발</p>
                <p>관리 및 운영 시스템 구축</p>
                <p>Java, 전자 정부 프레임워크 사용</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="seoulmuseums"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="seoulfutureheritage">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>반응형 웹 서비스</strong></p>
                <p class="info">Responsive Web & CMS</p>
            </div>
            <h3>서울미래유산</h3>
            <h4>서울미래유산 반응형 웹 서비스 개발</h4>
            <div class="portpolio_desc">
                <p>지역별, 분야별, 주제별, 인물별 미래 유산 메뉴 개발</p>
                <p>스토리텔링 컨텐츠 서비스</p>
                <p>분야별, 코스별 대표적인 미래 유산 동영상 제작</p>
                <p>실시간 미래 유산 정보 검색 및 의견, 제안 등 업로드</p>
                <p>서울시 미래 유산 서비스 관리 시스템 구축</p>
                <p>웹 기반 관리 및 운영 시스템 개발</p>
                <p>미래 유산 DB 구축</p>
                <p>관리 및 운영 시스템 구축</p>
                <p>사용 통계 시스템 구축</p>
                <p>Java, 전자 정부 프레임워크 사용</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="seoulfutureheritage"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="mobileseoul">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App & CMS</p>
            </div>
            <h3>모바일서울</h3>
            <h4>모바일서울 서비스 유지 관리</h4>
            <div class="portpolio_desc">
                <p>모바일서울 서비스 유지 관리</p>
                <p>버스 / 지하철 지도 기반 교통 정보 관리</p>
                <p>문화 행사 / 취업 / 부동산 등 생활 편의 정보 관리</p>
                <p>양방향 참여 / 소통 서비스 구축 및 운영</p>
                <p>공공 정보 푸시 서비스 관리</p>
                <p>웹 기반 관리 및 운영 시스템 관리</p>
                <p>사용 통계 시스템 구축 (로그 분석)</p>
                <p>Java, 전자 정부 프레임워크 사용</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="mobileseoul"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="yonhapnews">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>연합뉴스</h3>
            <h4>연합뉴스 관련 모바일 앱 서비스 개발</h4>
            <div class="portpolio_desc">
                <p>연합뉴스 앱 개발 및 고도화</p>
                <p>뉴스리더 앱 개발 및 고도화</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="yonhapnews"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="ajusavings">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>아주저축은행 대출 앱</h3>
            <h4>아주저축은행 대출 앱 서비스 개발</h4>
            <div class="portpolio_desc">
                <p>모바일 대출 신청</p>
                <p>모바일 대출 소개</p>
                <p>대출 서류 제출</p>
                <p>대출 계약 약정</p>
                <div class="subdesc">
                    <p class="non-bullet">- 공인인증, V3, 키보드 보안</p>
                </div>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="ajusavings"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="ajugps">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>아주산업 GPS 관제</h3>
            <h4>아주산업 GPS 관제 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>레미콘 차량 관제 웹, 앱 시스템</p>
                <div class="subdesc">
                    <p class="non-bullet">- 위치 관제, 납품 정보 이력 조회, 채권 조회</p>
                </div>
                <p>고객 전용 웹, 앱 개발</p>
                <div class="subdesc">
                    <p class="non-bullet">- 지도 관제, 출하 현황, 납품 이력, 고객 지원</p>
                </div>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="ajugps"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="justice">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>차세대 법무 포털 앱</h3>
            <h4>법무부 업무 관리 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>법무부 내부 업무용 업무 관리 시스템 구축</p>
                <p>공인인증 (GPKI), 보안 모듈, MDM 연동 개발</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="justice"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="yuhankimberly">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>유한킴벌리</h3>
            <h4>유한킴벌리 입출고 관리 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>바코드 리더기를 활용한 입고 / 출고 관리 시스템 개발</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="yuhankimberly"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="exofresh">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>엑소후레쉬</h3>
            <h4>엑소후레쉬 입출고 관리 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>바코드 리더기를 활용한 입고 / 출고 관리 시스템 개발</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="exofresh"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="seonghwalogistics">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>성화기업택배</h3>
            <h4>성화기업택배 입출고 관리 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>바코드 리더기를 활용한 입고 / 출고 관리 시스템 개발</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="seonghwalogistics"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="pulmuone">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>모바일 앱 서비스</strong></p>
                <p class="info">Mobile App</p>
            </div>
            <h3>풀무원</h3>
            <h4>풀무원 운송 자원 관리 시스템 개발</h4>
            <div class="portpolio_desc">
                <p>바코드 리더기를 활용한 입고 / 출고 관리 시스템 개발</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="pulmuone"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="mindway">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>교통 솔루션</strong></p>
                <p class="info">Solution</p>
            </div>
            <h3>MindWay</h3>
            <h4>자체 노선도 개발 솔루션 (M<sup>3</sup>Maker)을 활용한 오픈 플랫폼 서비스</h4>
            <div class="portpolio_desc">
                <p>기존 솔루션에서의 설치형 프로그램의 한계를 극복하여 웹 기반 서비스 구축</p>
                <p>글로벌 서비스를 위한 타 국가 데이터 API 제공 / 다국어 서비스 제공</p>
                <p>사용성 개선을 통한 고도화된 노선도 개발 프로그램</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <div class="mindway"></div>
            </figure>
        </div>
    </div>
</div>
<div style="display: none;" id="mindtrip">
    <div class="portpolio_name">
        <div class="portpolio_left">
            <div class="scope">
                <p>[SCOPE]</p>
                <p><strong>인공지능 솔루션</strong></p>
                <p class="info">Solution</p>
            </div>
            <h3>MindTrip</h3>
            <h4>딥러닝 기반의 인공지능 영상 분석·처리 시스템 (패키지 출시 예정)</h4>
            <div class="portpolio_desc">
                <p>100여 가지 객체 전 처리 자동화 (지속적인 업데이트), 기본 학습 내장 그래프 포함</p>
                <p>딥러닝을 통한 기본 객체 검출, 인식, 마스킹 및 객체 대사 처리 가능</p>
                <p>실시간 영상·이미지 처리 가능</p>
            </div>
        </div>
        <div class="portpolio_right">
            <figure>
                <img src="images/portfolios/mindtrip_modal.jpg" alt="MindTrip Modal">
            </figure>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div id="footer-sitemap">
            <ul>
                <li>
                    <a href="views/service/webapp.html">서비스</a>
                    <ul>
                        <li>
                            <a href="views/service/webapp.html">Web/App 서비스</a>
                        </li>
                        <li>
                            <a href="views/service/location.html">위치 기반 서비스</a>
                        </li>
                        <li>
                            <a href="views/service/it.html">IT 컨설팅</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="views/solution/ai.html">솔루션</a>
                    <ul>
                        <li>
                            <a href="views/solution/ai.html">인공지능 솔루션</a>
                        </li>
                        <li>
                            <a href="views/solution/mindway.html">교통 솔루션</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="views/portfolio/portfolio.html">포트폴리오</a>
                </li>
                <li>
                    <a href="views/contact/contact.html">문의하기</a>
                </li>
                <li>
                    <a href="views/about/introduction.html">회사소개</a>
                    <ul>
                        <li>
                            <a href="views/about/introduction.html">소개</a>
                        </li>
                        <li>
                            <a href="views/about/chronicle.html">연혁</a>
                        </li>
                        <li>
                            <a href="views/about/areas.html">사업분야</a>
                        </li>
                        <li>
                            <a href="views/about/map.html">오시는길</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="footer-brand">
            <div id="footer-brand-logo">
                <img src="images/logo.png" alt="MindAll Company Logo Inverted">
            </div>
            <div id="footer-brand-address">
                <p>(주)마인드올 | 대표 : 유정규</p>
                <p>서울시 마포구 월드컵북로42나길 20, 301호 (상암동, 위너스하임)</p>
                <p>사업자등록번호 : 704-81-00061</p>
                <p>Tel : 070-4895-2988 | Email : support@mindall.co.kr</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="popper.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="swiper.min.js"></script>
<script src="fancybox.min.js"></script>
<script src="script.js"></script>
</body>
</html>